<%

  client_token = @presenter_obj.client_token
  client_balances = @presenter_obj.client_balances
  client_fiat_curreny_pref_symbol = @presenter_obj.client_fiat_curreny_pref_symbol
  client_fiat_curreny_symbol = @presenter_obj.client_fiat_curreny_symbol

  if client_balances.present? && client_balances.balances.present? && client_token.conversion_factor.present?
    bt_balance_s = client_balances.bt_balance_s
    bt_fiat_balance_s = client_balances.bt_fiat_balance_s(client_fiat_curreny_symbol)
    ost_balance_s = client_balances.ost_balance_s
    ost_fiat_balance_s = client_balances.ost_fiat_balance_s(client_fiat_curreny_symbol)
  end

%>

<%#= render :partial => "/shared/web/common/alert" %>
<nav class="navbar navbar-expand-md navbar-light ">
  <span class="navbar-brand font-weight-normal">
    <span class="token-symbol <%= client_token.symbol_icon %>">
      <%= client_token.symbol %>  
    </span>
    <span class="token-name">
      <%= client_token.name %>  
    </span>
  </span>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <% content_for :do_not_reder do %>
      <% # The below mark is kept for future and will not render %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span class="small">Toggle Sidebar</span>
          </button>
        </li>
      </ul>
    <% end %>

    <ul class="navbar-nav navbar-right ml-md-auto d-md-flex text-uppercase font-weight-normal">
      <% if client_balances.present? && client_balances.balances.present? %>
          <% if bt_balance_s.present? %>
              <li class="nav-item">
                <span class="nav-link active">
                  <span class="d-block">available <%= client_token.symbol %></span>
                  <span class="d-block gold text-sm-left text-md-center"><%= "#{bt_balance_s} (#{client_fiat_curreny_pref_symbol}#{bt_fiat_balance_s})" %></span>
                </span>
              </li>
          <% end %>
          <% if ost_balance_s.present? %>
              <li class="nav-item">
                <span class="nav-link" href="#">
                  <span class="d-block">available ost</span>
                  <span class="d-block gold text-sm-left text-md-center"><%= "#{ost_balance_s} (#{client_fiat_curreny_pref_symbol}#{ost_fiat_balance_s})" %></span>
                </span>
              </li>
          <% end %>
      <% end %>
      <li class="nav-item">
        <a class="nav-link d-flex" href="https://help.ost.com/support/home" target="_blank">
          <svg class="get-help-icon">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-get-help-logo"></use>
            </switch>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>