<%
  planner_url = GlobalConstant::RoutesMap.getRoutes()[:token_setup]
  mint_token_url = GlobalConstant::RoutesMap.getRoutes()[:token_mint]
  team_url = GlobalConstant::RoutesMap.getRoutes()[:team]
%>
<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <div class="header-phantom-el-wrapper">
    <%= yield(:phantom_header_el) %>
  </div>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
          </switch>
        </svg>
        <span class="label">Sandbox Mode</span>
      </a>
    </li>
    <% if !@presenter_obj.is_client_token_deployed? %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_token_setup_route? ? 'active': '' %>" href="<%= planner_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
          </switch>
        </svg>
        <span class="label">Token Setup</span>
      </a>
    </li>
    <% end  %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_client_token_deployed? ? '' : 'disabled' %>" href="">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </switch>
        </svg>
        <span class="label">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_client_token_deployed? ? '' : 'disabled' %> <%= @presenter_obj.is_token_mint_route? ? 'active': '' %> "  href="<%= mint_token_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-supply"></use>
          </switch>
        </svg>
        <span class="label">Mint Token</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= (@presenter_obj.is_client_token_deployed? || @presenter_obj.is_client_token_deploying?) ? '' : 'disabled' %>"  href="">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dev-api"></use>
          </switch>
        </svg>
        <span class="label">Developers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= @presenter_obj.is_client_token_deployed? ? '' : 'disabled' %>"  href="" target="_blank">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt-explorer"></use>
          </switch>
        </svg>
        <span class="label">Block Explorer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center"  data-toggle="collapse" href="#settings">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settings"></use>
          </switch>
        </svg>
        <span class="label">Settings</span>
      </a>
      <div class="<%= @presenter_obj.is_settings_route? ? '' : 'collapse' %> settings-sub-menu  active" id="settings">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link  pl-6 <%= @presenter_obj.is_team_route? ? 'active' : '' %>" href="<%= team_url %>?peup=<%= GlobalConstant::Environment.url_prefix %>">Team</a>
            </li>
          </ul>
      </div>
    </li>
  </ul>

</aside>

