<%
  prefix = GlobalConstant::Environment.sandbox_sub_url_prefix ;
  planner_url = "/"+prefix+ "/token/setup" ;
  mint_token_url = "/"+prefix+ "/token/mint" ;
  team_url = "/settings/team";
%>
<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <div class="header-phantom-el-wrapper">
    <%= yield(:phantom_header_el) %>
  </div>

  <ul class="nav nav-pills flex-column py-6">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center active" href="<%= planner_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
          </switch>
        </svg>
        <span class="label">Economy Planner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="<%= mint_token_url %>">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </switch>
        </svg>
        <span class="label">Mint Token</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" data-toggle="collapse" href="#settings">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settings"></use>
          </switch>
        </svg>
        <span class="label">Settings</span>
      </a>
      <div class="collapse ml-5 active" id="settings">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="<%= team_url %>">Team</a>
            </li>
          </ul>
      </div>
    </li>
  </ul>

</aside>

