<%
  action = @presenter_obj.action

  setup_not_complete_class = @presenter_obj.client_token.step_three_done? ? '' : 'disabled'
%>
<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <div class="header-phantom-el-wrapper">
    <%= yield(:phantom_header_el) %>
  </div>

  <ul class="nav nav-pills flex-column pt-4">
    <% if ['planner', 'planner_step_two', 'planner_step_three'].include?(action) %>
        <% planner_url =  nil; %>
        <li class="nav-item">
          <% if action == 'planner' %>
            <% planner_url =  '/planner' %>
          <% elsif action == 'planner_step_two' %>
            <% planner_url =  '/planner/step-2' %>
          <% elsif action == 'planner_step_three' %>
            <% planner_url =  '/planner/step-3' %>
          <% end %>
          <a class="nav-link d-flex align-items-center active" href="<%= planner_url %>">
            <svg class="icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
              </switch>
            </svg>
            <span class="label">Economy Planner</span>
          </a>
        </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'dashboard' ? 'active' : ''%>" href="/dashboard">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </switch>
        </svg>
        <span class="label">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'token_supply' ? 'active' : ''%>" href="/token-supply">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-supply"></use>
          </switch>
        </svg>
        <span class="label">Token Supply</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'users' ? 'active' : ''%>" href="/users">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users"></use>
          </switch>
        </svg>
        <span class="label">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'transactions' ? 'active' : ''%>" href="/transactions">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transactions"></use>
          </switch>
        </svg>
        <span class="label">Transactions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'simulator' ? 'active' : ''%>" href="/simulator">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-simulator"></use>
          </switch>
        </svg>
        <span class="label">Simulator</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %> <%= action == 'token_design' ? 'active' : ''%>" href="/developer-api-console">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dev-api"></use>
          </switch>
        </svg>
        <span class="label">Developer API</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= setup_not_complete_class %>" href="https://view.stagingost.com" target="_blank">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt-explorer"></use>
          </switch>
        </svg>
        <span class="label">Block Explorer</span>
      </a>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link d-flex align-items-center disabled" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-campaigns"></use>
          </switch>
        </svg>
        <span class="label">Campaigns<span class="badge">Coming soon</span></span>
      </a>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link d-flex align-items-center disabled" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-analytics"></use>
          </switch>
        </svg>
        <span class="label">Analytics<span class="badge">Coming soon</span></span>
      </a>
    </li>
    <li class="nav-item position-relative">
      <a class="nav-link d-flex align-items-center disabled" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-kyc"></use>
          </switch>
        </svg>
        <span class="label">KYC<span class="badge">Coming soon</span></span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample">Collapse</a>
      <div class="collapse" id="collapseExample">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 2</a>
            </li>
          </ul>
      </div>
    </li>-->
  </ul>

</aside>