<%
  action = @presenter_obj.action
%>
<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <ul class="nav nav-pills flex-column">
    <% if action == 'planner' %>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="/planner">
            <svg class="icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
              </switch>
            </svg>
            <span class="label">Economy Planner</span>
          </a>
        </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'dashboard' ? 'active' : ''%>" href="/dashboard">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </switch>
        </svg>
        <span class="label">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'token_supply' ? 'active' : ''%>" href="/token-supply">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-supply"></use>
          </switch>
        </svg>
        <span class="label">Token Supply</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'users' ? 'active' : ''%>" href="/users">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users"></use>
          </switch>
        </svg>
        <span class="label">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'transactions' ? 'active' : ''%>" href="/transactions">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transactions"></use>
          </switch>
        </svg>
        <span class="label">Transactions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'simulator' ? 'active' : ''%>" href="/simulator">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-simulator"></use>
          </switch>
        </svg>
        <span class="label">Simulator</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center <%= action == 'token_design' ? 'active' : ''%>" href="/token-design">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-design"></use>
          </switch>
        </svg>
        <span class="label">Token Design</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="/">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt-explorer"></use>
          </switch>
        </svg>
        <span class="label">BTexplorer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-campaigns"></use>
          </switch>
        </svg>
        <span class="label">Campaigns <span class="badge">Coming soon</span></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-analytics"></use>
          </switch>
        </svg>
        <span class="label">Analytics <span class="badge">Coming soon</span></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg class="icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-kyc"></use>
          </switch>
        </svg>
        <span class="label">KYC <span class="badge">Coming soon</span></span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample">Collapse</a>
      <div class="collapse" id="collapseExample">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 2</a>
            </li>
          </ul>
      </div>
    </li>-->
  </ul>

</aside>