<%
   bt_name   = @presenter_obj.client_token.name;
   bt_symbol = @presenter_obj.client_token.symbol;

  if @presenter_obj.api_console_data.present?
    api_console_data = @presenter_obj.api_console_data.for_create_user
    request_params_str = api_console_data['request_params']
    request_params = request_params_str.split('&')
    should_show_api_call_button = true
  else
    should_show_api_call_button = false
  end
%>

<div class="container-fluid users-list-container ost-simple-table"  data-airdrop-processing="false">
  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex justify-content-between align-items-center mt-6 mb-5">
        <h3 class="mb-0">Users</h3>
        <div class="text-right">
          <button id="airdrop_btn" class="btn btn-gold mr-3">AIRDROP TOKENS</button>
          <button id="add_users" class="btn ost-btn-secondary">ADD USER</button>
        </div>
      </div>
    </div>
  </div>

  <div class="user-list">
    <div class="row table-header">
      <div class="col-1"></div>
      <div class="col-3">NAME</div>
      <div class="col-3"><%= bt_symbol %> AIRDROPPED</div>
      <div class="col-3"><%= bt_symbol %> BALANCE</div>
      <div class="col-2"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 slider-parent-container" data-slider-content-wrapper=".ost-table-row">
      <div id="user_list" class="economy_users w-100 transactions" data-simple-table data-url="/api/economy/users/list">
        <script type="text/x-handlebars-template" data-row-template>
          <div class="row mt-1 mb-3 rounded ost-table-row cell align-items-center">
            <div class="col-1">
              <svg class="icon-users-list align-middle">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users-list"></use>
                </switch>
              </svg>
            </div>
            {{#ifEditUser mode}}
              <div class="col-11 pb-2">
                <form class="add-user-form" id="save-user-{{id}}" action="/api/economy/users/create" method="POST" data-user-id="{{id}}">
                  <div class="row">
                    <div class="col-4">
                      <div class="user-name-input-wrapper">
                        <input type="text" class="form-control add-user-name-input" id="user-name-{{id}}" name="name" required/>
                        <div class="invalid-feedback" data-forname="user-name-{{id}}">&nbps;</div>
                      </div>
                    </div>
                    <div class="col-4 offset-4 text-right">
                      <div class="mr-1">
                        <button type="submit" class="save-user-btn btn mr-1 btn-gold" data-submiting="Saving...">Save</button>
                        <a href="javascript:void(0)" class="cancel-user-btn rounded-circle edit-btn btn-info" title="Close">
                          <svg class="icon-edit-transactions align-middle">
                            <switch>
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users-cancel"></use>
                            </switch>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            {{else}}
              <div class="col-3">{{name}}</div>
              <div class="col-3">{{display_total_airdropped_tokens total_airdropped_tokens}}</div>
              <div class="col-2">{{display_token_balance token_balance}} </div>
              <div class="col-3">
                <button class="showApiCallBtn btn btn-info slider-btn">
                  <svg class="icon-api-transactions align-middle">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-api-transactions"></use>
                    </switch>
                  </svg>
                  <span class="align-middle">API Call</span>
                </button>
              </div>
              <% if should_show_api_call_button %>
                <div class="code-session col-12">
                  <comment class="w-100 code-comment">
                    // Below is as an example the API call that was requested to create this user.<br/>
                    // The user uuid is {{uuid}}.<br/>
                    // Note that the signature and the request_timestamp will have expired and need to be recalculated for each request.<br/>
                    // Please access the API and SDK documentation from the Developers section for more details.<br/>
                  </comment>
                  <code class="w-100 code-line">
                    <span class="curl-param-header">curl -i </span> <span class="curl-escape-character">\</span>
                    <br /><span class="curl-param-header"> -H</span> "Accept: application/json" <span class="curl-escape-character">\</span>
                    <% request_params.each do |request_param| %>
                      <br /><span class="curl-param-header"> -d</span> '<%= request_param %>' <span class="curl-escape-character">\</span>
                    <% end %>
                    <br /><span class="curl-param-header"> -X</span> <%= api_console_data['request_type'] %> <%= api_console_data['request_uri'] %>
                  </code>
                </div>
              <% end %>
              {{/ifEditUser}}
            </div>
        </script>
      </div>
    </div>
  </div>
</div>



<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      //{{uri_encoded key}}
      Handlebars.registerHelper('uri_encoded', function(data, options ) {
        return encodeURIComponent( data );
      });

      Handlebars.registerHelper('display_total_airdropped_tokens', function(tokens, options ) {
        return PriceOracle.toBt( tokens ).toString( 10 );
      });

      Handlebars.registerHelper('display_token_balance', function(tokens, options ) {
        return PriceOracle.toBt( tokens ).toString( 10 );
      });

      ost.users.list.init();  

    });
  </script>
<%end%>
