<div class="row ost__planner">
  <div class="col-12 col-md-8 pt-6 mx-auto text-center">
    <svg class="icon-fund-wallet">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fund-wallet"></use>
      </switch>
    </svg>
    <h3 class="text-center font-weight-bold letter-space-1 mt-5">New text change regarding
maintaining minimum balance.</h3>
    <p class="font-weight-light mb-5 text-muted"> Body copy elaborating the same. Placeholder text below.
Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorpe.</p>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <div id="ost__planner__address" class="ost__planner__address font-weight-light mt-3 mb-3 d-inline-block"></div>
      <div class="mb-5">
        <form id="get_initial_ost" class="form-container-sm st-form" 
          action="/api/client/get-ost" method="POST"
          data-ost-formhelper>
          <div class="general_error invalid-feedback" data-forid="get_initial_ost">&nbsp;</div>
          <div id="emailFormGrp">
            <input id="eth_address" type="hidden" name="eth_address"/>
            <div class="invalid-feedback" data-forid="eth_address">&nbps;</div>
          </div>
          <div class="form-group text-center" >
            <button id="get-initial-ost-button" 
              class="btn btn-gold" data-submiting="Requesting..."
              type="submit" >PROCEED</button>
          </div>
        </form>
      </div>
      <%=
          render :partial => "shared/web/common/faqs",
                 locals: {
            header: "FAQ for installing MetaMask",
            faqs: [
            {
              title: 'Why do I need to use Chrome and install MetaMask?',
          url: 'https://help.ost.com/support/solutions/articles/35000059263-why-do-i-need-to-install-metamask-'
          },
          {
            title: 'How do I unlock MetaMask?',
          url: 'https://help.ost.com/support/solutions/articles/35000059264-how-do-i-unlock-metamask-'
          },
          {
            title: 'Why can I use only one MetaMask account with OST KITâº?',
          url: 'https://help.ost.com/support/solutions/articles/35000059265-why-can-i-use-only-one-metamask-account-with-ost-kit%E2%8D%BA-'
          }
          ]
          }
      %>
    </div>
  </div>
</div>


<% content_for :popups do %>
  <%= render :partial => "/shared/web/modals/sending_ost_grant_modal" %>
<%end%>

<% content_for :end_js do %>
<script type="text/javascript">
  $(function () {
    /*
    ost.metamask.getOstHelper.init({
      has_registered_address: <%= has_registered_address %>,
      should_use_metamask_focet_for_eth: <%= should_use_metamask_focet_for_eth %>,
      should_use_ost_focet_for_eth: <%= should_use_ost_focet_for_eth %>,
      grant_initial_ost: <%= grant_initial_ost %>,
      grant_initial_eth: <%= grant_initial_eth %>
    });   
    */ 
  });
</script>
<% end %>