<%
  tx_status_meta_data = tx_status_meta_data.present? ? tx_status_meta_data : {}

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;


  header_tempate_id = header_tempate_id.present? ? header_tempate_id : "mint-tx-status-modal-header"
  start_header_tempate_id = header_tempate_id + "-start";
  processing_header_tempate_id = header_tempate_id + "-processing";
  success_header_tempate_id = header_tempate_id + "-success";
  failed_header_tempate_id = header_tempate_id + "-failed";

  footer_tempate_id = footer_tempate_id.present? ? footer_tempate_id : "mint-tx-status-modal-footer"
  start_footer_tempate_id = footer_tempate_id + "-start";
  processing_footer_tempate_id = footer_tempate_id + "-processing";
  success_footer_tempate_id = footer_tempate_id + "-success";
  failed_footer_tempate_id = footer_tempate_id + "-failed";


%>

<script id="<%= start_header_tempate_id %>" type="text/x-handlebars-template">
  <h3 class="mb-2">Processing </h3>
  <div class="desc">Tokens being minted. This process takes several minutes on testnet.</div>
</script>
<script id="<%= processing_header_tempate_id %>" type="text/x-handlebars-template">
  <h3 class="mb-2">Processing </h3>
  <div class="desc">Tokens being minted. This process takes several minutes on testnet.</div>
</script>
<script id="<%= success_header_tempate_id %>" type="text/x-handlebars-template">
  <h3 class="mb-4">Congratulations!</h3>
</script>
<script id="<%= failed_header_tempate_id %>" type="text/x-handlebars-template">
  <h3 class="mb-4">Something Went Wrong!</h3>
</script>


<script id="<%= start_footer_tempate_id %>" type="text/x-handlebars-template">
</script>
<script id="<%= processing_footer_tempate_id %>" type="text/x-handlebars-template">
</script>
<script id="<%= success_footer_tempate_id %>" type="text/x-handlebars-template">
</script>
<script id="<%= failed_footer_tempate_id %>" type="text/x-handlebars-template">
</script>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    var ost = ns("ost")
      , TSM = ns("ost.TSM")
    ;
    var MintTxStatusModal = TSM.MintTxStatusModal = function (data, url, config ) {
      var oThis = this;

      oThis.setHeaderTemplateId("<%= start_header_tempate_id %>", TSM.UiStates.START );
      oThis.setHeaderTemplateId("<%= processing_header_tempate_id %>", TSM.UiStates.PROCESSING );
      oThis.setHeaderTemplateId("<%= success_header_tempate_id %>", TSM.UiStates.SUCCESS );
      oThis.setHeaderTemplateId("<%= failed_header_tempate_id %>", TSM.UiStates.FAILED );


      oThis.setFooterTemplateId("<%= start_footer_tempate_id %>", TSM.UiStates.START );
      oThis.setFooterTemplateId("<%= processing_footer_tempate_id %>", TSM.UiStates.PROCESSING );
      oThis.setFooterTemplateId("<%= success_footer_tempate_id %>", TSM.UiStates.SUCCESS );
      oThis.setFooterTemplateId("<%= failed_footer_tempate_id %>", TSM.UiStates.FAILED );

      TSM.apply( oThis, arguments );      

    };
    MintTxStatusModal.prototype = Object.create(TSM.prototype);


    var _onTxFailed = TSM.prototype.onTxFailed;
    MintTxStatusModal.prototype.onTxFailed = function () {
      var oThis = this;
      _onTxFailed.apply(oThis, arguments);
      oThis.hide();
      ost.coverElements.show('#process_failure_error_cover');
    }

  });
</script>
<% end %>

