<%

  #Things that need to be logically at top.
  ost_to_bt_input_id = ost_to_bt_input_id
  create_ost_to_bt_input = !ost_to_bt_input_id.present? ? true : false;

  bt_to_fiat_input_id = bt_to_fiat_input_id
  create_bt_to_fiat_input = !bt_to_fiat_input_id.present? ? true : false;




  is_eligible_for_grant = @presenter_obj.client_balances.is_eligible_for_grant?
  #Mandetory Params
  max_bt_to_mint = max_bt_to_mint;
  max_st_prime_to_mint = max_st_prime_to_mint;
  if @presenter_obj.client_balances.present? && @presenter_obj.client_balances.ost_balance.present?
    user_ost_balance = @presenter_obj.client_balances.ost_balance
  else
    user_ost_balance = 0
  end



  if @presenter_obj.chain_interaction_params.present?
    staker_address = @presenter_obj.chain_interaction_params.staker_addr;
  else
    staker_address = ''
  end


  stake_and_mint_form_id = stake_and_mint_form_id

  #Form Optional Params
  min_bt_to_mint = min_bt_to_mint.present? ? min_bt_to_mint : 1;
  bt_to_mint = bt_to_mint.present? ? bt_to_mint : min_bt_to_mint;
  bt_to_mint_input_name = bt_to_mint_input_name.present? ? bt_to_mint_input_name : "bt_to_mint";

  bt_to_fiat = bt_to_fiat.present? ? bt_to_fiat : "";


  #These are used only if st_prime_to_mint_input_id is not specified.
  min_st_prime_to_mint = min_st_prime_to_mint.present? ? min_st_prime_to_mint : 1;
  max_st_prime_to_mint = max_st_prime_to_mint.present? ? max_st_prime_to_mint : user_ost_balance;
  st_prime_to_mint = st_prime_to_mint.present? ? st_prime_to_mint : min_st_prime_to_mint;
  st_prime_to_mint_input_name = st_prime_to_mint_input_name.present? ? 
    st_prime_to_mint_input_name : "st_prime_to_mint";
  #These are used only if ost_to_bt_input_id is not specified.
  ost_to_bt_input_name = ost_to_bt_input_name.present? ? ost_to_bt_input_name : "conversion_factor";

  user_ost_balance_name = user_ost_balance_name.present? ? user_ost_balance_name  : "user_ost_balance";
  ost_to_transfer_name  = ost_to_transfer_name.present? ? ost_to_transfer_name    : "ost_to_transfer";
  bt_to_ost_input_name  = bt_to_ost_input_name.present? ? bt_to_ost_input_name    : "bt_to_ost";
  bt_to_fiat_input_name = bt_to_fiat_input_name.present? ? bt_to_fiat_input_name  : "bt_to_fiat";
  ost_stake_for_bt_name = ost_stake_for_bt_name.present? ? ost_stake_for_bt_name  : "ost_stake_for_bt";


  #Optional Params. Further Cusomisations
  st_prime_to_mint_input_id = st_prime_to_mint_input_id.present? ? 
    st_prime_to_mint_input_id : "st_prime_to_mint_input";

  bt_to_mint_input_id = bt_to_mint_input_id.present? ?
     bt_to_mint_input_id : "bt_to_mint_input";

  user_ost_balance_id = user_ost_balance_id.present? ? 
    user_ost_balance_id : "user_ost_balance_input";

  ost_to_transfer_id = ost_to_transfer_id.present? ? 
    ost_to_transfer_id : "ost_to_transfer_input";

  ost_stake_for_bt_id = ost_stake_for_bt_id.present? ?
    ost_stake_for_bt_id : "ost_stake_for_bt_input"

  ost_balance_after_transfer_id = ost_balance_after_transfer_id.present? ?
    ost_balance_after_transfer_id : "ost_balance_after_transfer";
  
  bt_to_ost_input_id = bt_to_ost_input_id.present? ?
    bt_to_ost_input_id : "bt_to_ost_input";

  bt_to_fiat_input_id = bt_to_fiat_input_id.present? ?
    bt_to_fiat_input_id : "bt_to_fiat_input";

  ost_to_bt_input_id = ost_to_bt_input_id.present? ? 
    ost_to_bt_input_id : "ost_to_bt_input_id";

  ost_transfered_transaction_hash_id = ost_transfered_transaction_hash_id.present? ?
    ost_transfered_transaction_hash_id : "ost_transfered_transaction_hash_input"


  #All Other things.

%>

<div class="row">
  <div class="col-3">
    <%= render partial: 'shared/web/common/slider_top',
               locals: {
                 label: 'N&deg; of Tokens to Create',
                 id: bt_to_mint_input_id,
                 name: bt_to_mint_input_name,
                 type: 'number',
                 min: min_bt_to_mint,
                 max: max_bt_to_mint,
                 step: 1,
                 value: bt_to_mint,
                 tooltip: 'hide'
               }
    %>
    <div class="mt-4 mb-2">
      <%= render partial: 'shared/web/common/slider_top',
                 locals: {
                   label: 'ALLOCATE TRANSACTION FEES',
                   id: st_prime_to_mint_input_id,
                   name: st_prime_to_mint_input_name,
                   type: 'number',
                   min: min_st_prime_to_mint,
                   max: max_st_prime_to_mint,
                   step: 1,
                   value: st_prime_to_mint,
                   tooltip: 'hide'
                 }
      %>
    </div>

    <input type="hidden"
      id="<%= ost_to_transfer_id %>" name="<%= ost_to_transfer_name %>"
    />
    <input type="hidden"
      id="<%= ost_stake_for_bt_id %>" name="<%= ost_stake_for_bt_name %>"
    />
    <input type="hidden" 
      id="<%= user_ost_balance_id %>" name="<%= user_ost_balance_name %>" 
      value="<%= user_ost_balance %>"
    />


    <% if create_ost_to_bt_input %>
      <input type="hidden" 
        id="<%= ost_to_bt_input_id %>" name="<%= ost_to_bt_input_name %>"
      />
    <% end %>
    <% if create_bt_to_fiat_input %>
      <input type="hidden" 
        id="<%= bt_to_fiat_input_id %>" name="<%= bt_to_fiat_input_name %>"
        value="<%= bt_to_fiat %>"
      />
    <% end %>
    <input type="hidden" 
      id="<%= bt_to_ost_input_id %>" name="<%= bt_to_ost_input_name %>"
    />

    <input type="hidden" 
      id="<%= ost_transfered_transaction_hash_id %>" name="transaction_hash" />
  </div>
  <div class="col-8 offset-1 user-form form-group" id="ostSupplyPieArea">
    <label class="form-label text-uppercase title">OST Supply</label>
    <div class="d-flex align-items-center">
      <div class="p-2">
        <div id="ostSupplyPie" class="pie-chat" style="width:200px; height: 200px"></div>
      </div>
      <div class="p-2 legend">
        <div class="pl-2 m-3" style="border-left: 5px solid #34445b;">
          <strong>OST Available</strong><br /><span id="<%= ost_balance_after_transfer_id %>"></span>
        </div>
        <div class="pl-2 m-3" style="border-left: 5px solid #f6c62b;">
          <strong>Allocated For Transaction Fee</strong><br /><span data-ost-mock-element="#<%= st_prime_to_mint_input_id %>"></span>
        </div>
        <div class="pl-2 m-3" style="border-left: 5px solid #88c7ca;">
          <strong>OST Used For Creating Tokens</strong>
          <br /><span data-ost-mock-element="#<%= ost_stake_for_bt_id %>"></span>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :popups do %>
  <%= render partial: 'shared/web/modals/stake_mint_confirm',
    locals: {
      :bt_to_mint_input_id => bt_to_mint_input_id,
      :st_prime_to_mint_input_id => st_prime_to_mint_input_id,
      :ost_to_transfer_id => ost_to_transfer_id,
      :bt_to_fiat_input_id => bt_to_fiat_input_id,
      :bt_to_ost_input_id => bt_to_ost_input_id,
      :bt_to_fiat_input_id => bt_to_fiat_input_id
    }
  %>
  <%= render partial: 'shared/web/modals/stake_mint_processing',
    locals: {

    }
  %>
<% end %>


<% content_for :end_js do %> 
<script type="text/javascript">
  $(function () {
    ost.mintBtWidget.init({
      is_eligible_for_grant : <%= is_eligible_for_grant %>
      , staker_address      : "<%= staker_address %>"
      , user_ost_balance    : "<%= user_ost_balance %>"
      , idOstBalance        : "<%= user_ost_balance_id %>"
      , idBtToMint          : "<%= bt_to_mint_input_id %>"
      , idStPrimeToMint     : "<%= st_prime_to_mint_input_id %>"
      , idOstToTransfer     : "<%= ost_to_transfer_id %>"
      , idOstStakeForBt     : "<%= ost_stake_for_bt_id %>"
      , idOstAfter          : "<%= ost_balance_after_transfer_id %>"
      , idOstToBt           : "<%= ost_to_bt_input_id %>"
      , idBtToOst           : "<%= bt_to_ost_input_id %>"
      , idBtToFiat          : "<%= bt_to_fiat_input_id %>"
      , idForm              : "<%= stake_and_mint_form_id %>"
      , idTransferHash      : "<%= ost_transfered_transaction_hash_id %>"
    });
  });

  console.log("client_balances", (<%= raw @presenter_obj.client_balances.to_json %>) );
</script>
<% end %>

