<%
  formatter_obj = @presenter_obj.formatter_obj
  token_symbol = @presenter_obj.client_token_symbol
  fiat_symbol = @presenter_obj.client_fiat_curreny_symbol
  fiat_symbol_upcase = fiat_symbol.upcase
  tokens_minted = @presenter_obj.token_supply_details.tokens_minted
  tokens_distributed = @presenter_obj.token_supply_details.tokens_distributed

  if @presenter_obj.client_balances.present?
    token_balance = @presenter_obj.client_balances.bt_balance
  else
    token_balance = 0
  end
%>

<div class="row">
  <div class="col-12">
    <h3 class="mt-5 mb-3">Token Supply</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-bg mb-5">
      <div class="card-body text-uppercase text-center">
        <h6 class="card-title mb-1"><%= token_symbol %> MINTED</h6>
        <p class="card-text mb-1">
          <span class="blue"><%= "#{token_symbol}" %></span>
          <span class="orange"><%= "#{tokens_minted}" %></span>
        </p>
        <p class="card-text orange">
          <span class="blue"><%= "#{fiat_symbol_upcase}" %></span>
          <span class="orange"><%= "#{tokens_minted}" %></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-bg mb-5">
      <div class="card-body text-uppercase text-center">
        <h6 class="card-title mb-1"><%= token_symbol %> AVAILABLE</h6>
        <p class="card-text mb-1">
          <span class="blue"><%= "#{token_symbol}" %></span>
          <span class="orange"><%= "#{token_balance}" %></span>
        </p>
        <p class="card-text orange">
          <span class="blue"><%= "#{fiat_symbol_upcase}" %></span>
          <span class="orange"><%= "#{tokens_minted}" %></span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-bg mb-5">
      <div class="card-body text-uppercase text-center">
        <h6 class="card-title mb-1"><%= token_symbol %> DISTRIBUTED</h6>
        <p class="card-text mb-1">
          <span class="blue"><%= "#{token_symbol}" %></span>
          <span class="orange"><%= "#{tokens_distributed}" %></span>
        </p>
        <p class="card-text orange">
          <span class="blue"><%= "#{fiat_symbol_upcase}" %></span>
          <span class="orange"><%= "#{tokens_distributed}" %></span>
        </p>
      </div>
    </div>
  </div>
</div>