<%

  formatter_obj = @presenter_obj.formatter_obj
  token_symbol = @presenter_obj.client_token_symbol
  fiat_symbol = @presenter_obj.client_fiat_curreny_symbol
  fiat_symbol_upcase = fiat_symbol.upcase
  client_fiat_curreny_pref_symbol = @presenter_obj.client_fiat_curreny_pref_symbol
  tokens_minted = @presenter_obj.token_supply_details.tokens_minted
  tokens_minted_s = @presenter_obj.client_balances.format_balance_to_s(tokens_minted)

  if @presenter_obj.client_balances.present?
    bt_balance = @presenter_obj.client_balances.bt_balance
    bt_balance_s = @presenter_obj.client_balances.bt_balance_s
    bt_fiat_balance_s = @presenter_obj.client_balances.bt_fiat_balance_s(fiat_symbol)
    tokens_minted_fiat = @presenter_obj.client_balances.convert_bt_to_fiat(tokens_minted, fiat_symbol)
    tokens_minted_fiat_s = @presenter_obj.client_balances.format_balance_to_s(tokens_minted_fiat)
    tokens_distributed = tokens_minted - bt_balance
    tokens_distributed_s = @presenter_obj.client_balances.format_balance_to_s(tokens_distributed)
    tokens_distributed_fiat = @presenter_obj.client_balances.convert_bt_to_fiat(tokens_distributed, fiat_symbol)
    tokens_distributed_fiat_s = @presenter_obj.client_balances.format_balance_to_s(tokens_distributed_fiat)
  end

%>

<div class="row">
  <div class="col-12">
    <h3 class="mt-6 mb-5">Token Supply</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card mb-5">
        <div class="card-body text-uppercase text-center">
          <h6 class="card-title mb-1"><%= token_symbol %> DISTRIBUTED</h6>
          <div class="card-text mb-1">
            <span class="blue"><%= "#{token_symbol}" %></span>
            <span class="orange"><%= "#{tokens_distributed_s}" %></span>
          </div>
          <div class="card-text orange">
            <span class="orange"><%= "#{client_fiat_curreny_pref_symbol}" %><%= "#{tokens_distributed_fiat_s}" %></span>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body text-uppercase text-center">
          <h6 class="card-title mb-1"><%= token_symbol %> not distributed</h6>
          <div class="card-text mb-1">
            <span class="blue"><%= "#{token_symbol}" %></span>
            <span class="orange"><%= "#{bt_balance_s}" %></span>
          </div>
          <div class="card-text orange">
            <span class="orange"><%= "#{client_fiat_curreny_pref_symbol}" %><%= "#{bt_fiat_balance_s}" %></span>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body text-uppercase text-center">
          <h6 class="card-title mb-1">TRANSACTION GAS AVAILABLE </h6>
          <div class="card-text mb-1">
            <span class="blue"> OST⍺</span>
            <span class="orange">
              <%= "#{tokens_minted_s}" %>
            </span>
          </div>
          <div class="card-text orange">
            <span class="orange">
              <%= "#{client_fiat_curreny_pref_symbol}" %>
              <%= "#{tokens_minted_fiat_s}" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>