<%
  

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;

  tx_status_polling_url = '/api/economy/transaction/fetch-detail';        #fetch transaction details api
  execute_transaction_api = '/api/economy/transaction/execute' ; #Run transaction api
  transaction_history_api = '/api/economy/transaction/history' ;
  long_poll_timeout_millisecond = 500;  #Value needed in milliseconds

  should_show_api_call_button = true;
  if @presenter_obj.api_console_data.present? && @presenter_obj.api_console_data.for_execute_transaction.present?
    api_console_data = @presenter_obj.api_console_data.for_execute_transaction
  else
    should_show_api_call_button = false
  end
  
%>

<!--This div should always be present with the details-->

<div class="row mt-6 mb-1">
  <div class="w-100">
    <div class="d-flex justify-content-between">
      <h3 class="mb-0 mt-2">Simulator</h3>
      <form id="run-transaction-form" action="<%= execute_transaction_api%>" method="POST" data-ost-formhelper >
        <button type="submit" class="btn btn-gold run-transaction-btn" data-submiting="Running...">run a transaction</button>
        <div class="general_error invalid-feedback" data-forid="run-transaction-form">&nbsp;</div>
      </form>
    </div>
  </div>
</div>


<div class="row slider-parent-container" data-slider-content-wrapper=".card" >
  <div id="transaction-history-table" class="col-12 transaction-history-wrapper" data-simple-table data-url="<%= transaction_history_api %>">
    <script type="text/x-handlebars-template" data-row-template >
      <div class="card row mb-4 rounded">
        <div class="card-header col-12">
          <div class="d-flex align-items-center justify-content-between p2">
            <div class="w-100">
              <span class="rounded-circle align-middle"></span>
              <span class="align-middle">
                <span class="align-middle">{{txName transaction_type_id}}</span>
                &nbsp;
                <svg class="icon-card-transactions align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-card-transactions-3"></use>
                  </switch>
                </svg>
                <span class="align-middle badge rounded" style="background-color: #9cc5c1;">{{display_bt_transfer_value bt_transfer_value}} <%= bt_symbol %></span>
                &nbsp;
                From
                &nbsp;
                <span class="align-middle {{getUserIconClass from_user_id}}"></span>
                &nbsp;
                <span> {{getUserName from_user_id}}</span>
                &nbsp;
                to
                &nbsp;
                <span class="align-middle receiver {{getUserIconClass to_user_id}}"></span>
                &nbsp;
                <span class="align-middle">{{getUserName to_user_id}} </span>
              </span>
            </div>
            <% if should_show_api_call_button %>
              <button class="showApiCallBtn btn btn-info slider-btn">
                <svg class="icon-api-transactions align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-api-transactions"></use>
                  </switch>
                </svg>
                <span class="align-middle">API Call</span>
              </button>
            <% end %>
          </div>
        </div>
        {{#ifTransactionPending status }}
          <div class="pending-transaction-wrapper text-center">
            <div><img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" height="30" width="30"/></div>
            <span>Getting Transaction Details</span>
          </div>
        {{else}}
          <div class="card-body px-4 pt-4 pb-3">
            <div class="row mb-0">
              <div class="col-sm-3 pb-2">Tx Hash</div>
              <div class="col-sm-9 pb-2">{{diplay_transaction_hash transaction_hash}}</div>

              
              <div class="col-sm-3 pb-2">Block Number</div>
              <div class="col-sm-9">{{diplay_block_number block_number}}</div>
              

              <div class="col-sm-3 pb-2">Time Stamp</div>
              <div class="col-sm-9 pb-2">{{display_block_timeStamp transaction_timestamp}} </div>

              <div class="col-sm-3 pb-2">Transaction Fee</div>
              <div class="col-sm-9 pb-2">{{diplay_transaction_fee transaction_fee}}</div>

              <div class="col-sm-3 pb-2">Status</div>
              <div class="col-sm-9 pb-2">{{status}}</div>
            </div>
          </div>
          <% if should_show_api_call_button %>
          <div class="code-session col-12">
              <!-- comment class="w-100 code-comment"></comment -->
              <code class="w-100 code-line">
                curl -i \
                <br /> -H "Accept: application/json" \
                <br /> -d '<%= api_console_data['request_params'] %>' \
                <br /> -X <%= api_console_data['request_type'] %> <%= api_console_data['request_uri'] %>
              </code>
            </div>
          <% end %>
        {{/ifTransactionPending}}
      </div>
    </script>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  console.log("api_console_data", <%= raw api_console_data.to_json %>);

  $( function () {
    Handlebars.registerHelper('bt_symbol', function(response, options ) {
      return "<%= bt_symbol %>";
    });
    //{{uri_encoded key}}
    Handlebars.registerHelper('uri_encoded', function(data, options ) {
      return encodeURIComponent( data );
    });

  });

</script>
<% end %>


