<%
  should_show_api_call_button = true;

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;

  tx_status_polling_url = '/api/economy/transaction/fetch-detail';        #fetch transaction details api
  execute_transaction_api = '/api/economy/transaction/execute' ; #Run transaction api
  transaction_history_api = '/api/economy/transaction/history' ;
  long_poll_timeout_millisecond = 500;  #Value needed in milliseconds

%>

<!--This div should always be present with the details-->

<div class="row ost__planner mb-4">
  <div class="w-100">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-center d-inline-block mb-0">Simulator</h3>
      <form id="run-transaction-form" action="<%= execute_transaction_api%>" method="POST" data-ost-formhelper >
        <button type="submit" class="btn btn-gold run-transaction-btn" data-submiting="Running...">run a transaction</button>
        <div class="general_error invalid-feedback" data-forid="run-transaction-form">&nbsp;</div>
      </form>
    </div>
  </div>
</div>


<div class="row ost__planner slider-parent-container" data-slider-content-wrapper=".card" >
  <div class="col-12" data-simple-table data-url="<%= transaction_history_api %>">
    <script type="text/x-handlebars-template" data-row-template >
      <div class="card row mb-4 ">
        <div class="card-header col-12">
          <div class="d-flex align-items-center justify-content-between">
            <div class="w-100">
              <span class="rounded-circle align-middle"></span>
              <span class="align-middle">{{getUserName from_user_id}} Sent <%= bt_name %> <%= bt_symbol %> to </span>
              <span class="rounded-circle align-middle"></span>
              <span class="align-middle">{{getUserName to_user_id}} </span>
            </div>
            <button class="btn btn-white slider-btn">api call</button>
          </div>
        </div>
        {{#ifTransactionPending status }}
          <div class="pending-transaction-wrapper">
            <span><img src="/ajax-loader.gif" /></span>
            <span>Getting Transaction Details</span>
          </div>
        {{else}}
          <div class="card-body col-12">
            <dl class="row mb-0">
              <dt class="col-sm-3">Tx Hash</dt>
              <dd class="col-sm-9">{{transaction_hash}}</dd>

              <dt class="col-sm-3">Block Height</dt>
              <dd class="col-sm-9">  </dd>

              <dt class="col-sm-3">Time Stamp</dt>
              <dd class="col-sm-9">{{timeStamp}}</dd>

              <dt class="col-sm-3">Transaction Fee</dt>
              <dd class="col-sm-9">{{transactionFee}} OST</dd>
            </dl>
            <div class="code-session row">
              <comment class="w-100 code-comment">
                Some code has to come here.
              </comment>
              <br>
              <code class="w-100 code-line">
                Some curl code has to come here
                Some curl code has to come here
              </code>
            </div>
          </div>
        {{/ifTransactionPending}}
      </div>
    </script>
  </div>
</div>


<% content_for :end_js do %>
  <script type="text/javascript">
    ost.simulator.init({
      long_poll_timeout_millisecond: <%= long_poll_timeout_millisecond %>,
      tx_status_polling_url: "<%= tx_status_polling_url %>"
    });
  </script>
<% end %>