<%

  client_fiat_curreny_display_text = @presenter_obj.client_fiat_curreny_display_text
  client_fiat_curreny_pref_symbol = @presenter_obj.client_fiat_curreny_pref_symbol
  fiat_type = @presenter_obj.client_fiat_curreny_symbol;

  client_balances = @presenter_obj.client_balances
  if client_balances.present? && client_balances.balances.present?
    bt_balance_s = client_balances.bt_balance_s
  end

  if @presenter_obj.oracle_price_points && @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type) > 0
    ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type).to_s;
  end

%>

<div class="row">

  <div class="col-12">
    <div class="card-deck mt-4">
      <% if bt_balance_s.present? %>
          <div class="card">
            <div class="card-body text-uppercase text-center">
              <h5 class="card-title mb-1"><%=@presenter_obj.client_token.symbol%> available</h5>
              <p class="card-text mb-1"><%= bt_balance_s %></p>
            </div>
          </div>
      <% end %>
      <% if ost_to_fiat.present? %>
          <div class="card">
            <div class="card-body text-uppercase text-center">
              <h5 class="card-title mb-1">Token rate (<%= client_fiat_curreny_display_text %>)</h5>
              <p class="card-text mb-1"><%=client_fiat_curreny_pref_symbol%> <%= ost_to_fiat %></p>
            </div>
          </div>
      <% end %>
      <!--open this section when BE is able to return revenue-->
      <!--<div class="card">-->
        <!--<div class="card-body text-uppercase text-center">-->
          <!--<h5 class="card-title mb-1">Revenue last 24hrs (USD)</h5>-->
          <!--<p class="card-text mb-1">$10,000</p>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

</div>