<div class="container">
<%= render :partial => "/web/economy/dashboard/tabs" %>
<%= render :partial => "/web/economy/dashboard/transactions_value" %>
<%= render :partial => "/web/economy/dashboard/transactions_type" %>
<%= render :partial => "/web/economy/dashboard/top_holders" %>
<%= render :partial => "/web/economy/dashboard/graphs_nodata" %>
<!--open it up when BE has data-->
<%# render :partial => "/web/economy/dashboard/ost_supply" %>
</div>
<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      ost.dashboard.init({
        ost_currency_symbol: "<%= ost_currency_symbol %>"
      });
    })
  </script>
<% end %>