<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-5 mb-4" id="transaction_editor_mode_heading">Developers</h3>      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="mr-auto mb-2">Get API Keys</h4>
    </div>
    <div class="col-12">
      <p class="desc font-weight-light">
        To be able to use the OST KIT alpha API you will have to authenticate your account by including an API signature with each API request. Signatures validate the authenticity of the person who interacts with OST KIT alpha and ensures that the message sent has not been tampered with. Signature is a hash that needs the API Key and API Secret Key as two of the various parameters.  You can find the API KEY and API SECRET KEY for your account below. 
      </p>
      <p class="desc font-weight-light">
        Please be sure your API Secret Key is always kept secure and never shared. Be careful when adding it to your codebase. Do not share your secret API keys in publicly accessible areas such as GitHub, Google docs etc.
      </p>
    </div>
    
    <div class="col-12 mb-3" id="fetch-api-details-form-wrap">
      <form id="fetch-api-details-form" action="/api/client/fetch-api-credentials/" method="GET" data-ost-formhelpe>
        <button id="fetch-api-details-btn" type="submit" class="btn btn-primary" data-submiting="Fetching...">Show Keys</button>
        <div class="general_error invalid-feedback" data-forid="fetch-api-details-form">&nbsp;</div>
      </form>
    </div>
    
    <div class="col-12 mt-3" id="api-details-wrap" style="display: none;">
      <div class="alert alert-info pt-4 mb-5" role="alert">
        <h5 class="mr-auto mb-2">API Key:</h5>
        <p class="font-weight-light font-size-p" id="api-key-text"></p>
        <h5 class="mr-auto mb-2">Secret:</h5>
        <p class="font-weight-light font-size-p" id="api-secret-text"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="mr-auto mb-2">API Documentation</h4>
    </div>
    <div class="col-12">
      <p class="desc font-weight-light">
        OST KIT API allow you to create users, setup transactions and execute transactions between users. 
      </p>
      <ul class="desc font-weight-light">
        <li>Programmatically add or update users to participate in your token economy.</li>
        <li>Setup core actions in your application as transactions</li>
        <li>Airdrop tokens to users</li>
        <li>Execute token transfers between users.</li>
      </ul>
      <p class="desc font-weight-light">
        Click below to review the detailed OST KIT API Reference Documentation
      </p>
    </div>
    
    <div class="col-12 mb-5">      
      <a target="_blank" href="//dev.ost.com/" class="btn btn-primary">Explore Api Docs</a>
    </div>
  </div>


  <%
    client_bt_addresses = @presenter_obj.client_bt_addresses
    branded_token_contract_address = client_bt_addresses.erc20_contract_address
    member_reserve_key = client_bt_addresses.reserve_address
    airdrop_contract_address = client_bt_addresses.airdrop_contract_address
    budget_holder_key_address = client_bt_addresses.airdrop_holder_address
    reserve_uuid = client_bt_addresses.reserve_uuid
    ost_alpha_contract_address = @presenter_obj.chain_interaction_params.simple_token_contract_addr
  %>

  <div class="row">
    <div class="col-12">
      <h4 class="mr-auto mb-2 mt-2">Your Addresses On OpenST Utility Chain</h4>
    </div>
    <div class="col-12">
      <p class="desc font-weight-light">
        Below you will find your Branded Token contract and Member Reserve addresses. 
      </p>
      <p class="desc font-weight-light">
        The Member Reserve address is the initial holder of your minted branded tokens, from which tokens are transferred to different accounts in your economy. 
      </p>
      <p class="desc font-weight-light">
        In addition, you will find the Airdrop contract and the Budget Holder addresses for your Branded Token. After the Branded Token and Airdrop contracts are deployed, airdrop tokens are transferred from the Member Reserve Address to the Budget Holder Address.
      </p>
      <p class="desc font-weight-light">
        Your Branded Token's Budget Holder Address will reserve the tokens to be airdropped. The Airdrop contract will manage transactions within your economy.
      </p>
    </div>
    
    <div class="col-12 mt-3" id="api-details-wrap">
      <div class="alert alert-info pt-4 mb-5" role="alert">
        <div class="row">
          <div class="col-6">
            <h5 class="mr-auto mb-2">Branded Token Contract Address:</h5>
            <p class="font-weight-light font-size-p"> <%= branded_token_contract_address %></p>
          </div>
          <div class="col-6">
            <h5 class="mr-auto mb-2">Member Reserve Address:</h5>
            <p class="font-weight-light font-size-p"><%= member_reserve_key %></p>
          </div>
          <div class="col-6">
            <h5 class="mr-auto mb-2">Budget Holder Address:</h5>
            <p class="font-weight-light font-size-p"><%= budget_holder_key_address %></p>
          </div>
          <div class="col-6">
            <h5 class="mr-auto mb-2">Airdrop Contract Address:</h5>
            <p class="font-weight-light font-size-p"><%= airdrop_contract_address %></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h4 class="mr-auto mb-2 mt-2">Other Information</h4>
    </div>
    <div class="col-12">
      <p class="desc font-weight-light">
        Below you will find OSTα ERC20 contract address on the Ropstern Test Network and your company's Universally Unique Identifier (UUID).
      </p>
      <p class="desc font-weight-light">
        Company UUID is required as a parameter in order to execute transactions between the company and users using APIs.
      </p>
    </div>

    <div class="col-12 mt-3" id="api-details-wrap">
      <div class="alert alert-info pt-4 mb-5" role="alert">
        <div class="row">
          <div class="col-6">
            <h5 class="mr-auto mb-2">OSTAlpha ERC20 contract address</h5>
            <p class="font-weight-light font-size-p"><%= ost_alpha_contract_address%></p>
          </div>
          <div class="col-6">
            <h5 class="mr-auto mb-2">Company UUID</h5>
            <p class="font-weight-light font-size-p"><%= reserve_uuid %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $(function() {
    ost.developerApi.init({
      idForm              : "fetch-api-details-form"
      , idFormWrap        : "fetch-api-details-form-wrap"
      , idFetchDetailsBtn : "fetch-api-details-btn"
      , idApiDetails      : "api-details-wrap"
      , idApiKey          : "api-key-text"
      , idApiSecret       : "api-secret-text"

    });
  });  
</script>
<% end %>