<%
   coin_name   = @presenter_obj.client_token.name;
   coin_symbol = @presenter_obj.client_token.symbol;
   fiat_symbol = "$";
   fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
   fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

   ost_to_fiat = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(@presenter_obj.client_fiat_curreny_symbol);

   value_in_fiat_key = "value_in_" + fiat_type;
   value_in_fiat_sym = value_in_fiat_key.to_sym;

   has_verified_email = @presenter_obj.user.is_verified?
   grant_initial_ost = true

%>
<%=
    if !@presenter_obj.user.is_verified?
      render :partial => "/shared/web/common/planner_alert"
    end
%>
<div class="container">
  <form id="step1"
        action="/api/economy/token/plan" method="POST"
        data-ost-formhelper
  >
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mt-4">Plan the Francesco Coin Economy in 3 Easy Steps</h3>
        <%= render partial: 'shared/web/common/steps' %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How much do you want 1 '+coin_name+' to be worth?',
                           id: 'token_worth_in_usd',
                           name: 'token_worth_in_usd',
                           type: 'number',
                           min: 0.1,
                           max: 10,
                           step: 0.1,
                           value: 0.1,
                           prefix: '$',
                           tooltip: 'always',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How many '+coin_name+' users do you plan to begin with?',
                           id: 'initial_number_of_users',
                           name: 'initial_number_of_users',
                           type: 'number',
                           min: 1,
                           max: 1000000,
                           step: 1,
                           value: 1,
                           tooltip: 'always',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How much '+coin_name+' do you wish to airdrop to each user to begin with?',
                           id: 'airdrop_bt_per_user',
                           name: 'airdrop_bt_per_user',
                           type: 'number',
                           min: 1,
                           max: 100,
                           step: 1,
                           value: 1,
                           tooltip: 'always',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
      </div>
      <!--<div class="col-12">
        <button id="getInitialOstBtn"> Get Initial OST</button>
      </div>-->
    </div>


    <div class="row">
      <div class="col-12">
        <div class="p-3 mt-3 mb-3 text-center" style="background: #f9f8e6; color: #597a84">For the purpose of this simulation we will create 25 users for your application</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="p-3 mt-3 mb-3" style="background: #f6f8fa; color: #438bad">
          <h4 class="mt-3 mb-3">Recommended Conversion Rate</h4>
          <div class="row user-form">
            <div class="form-group col-6">
              <div class="clearfix">
                <label class="form-label float-left" for="bt"><%=coin_name%></label>
                <span class="form-label float-right">Value Set <%=fiat_symbol%><span data-ost-mock-element="#conversion_rate"></span></span>
              </div>
              <input type="number" min="0.0001" class="form-control" name="conversion_rate" id="bt_rate" />
            </div>
            <div style="width:0;position:relative;left:-5px;top:25px">&#8776;</div>
            <div class="form-group col-6">
              <div class="clearfix">
                <label class="form-label float-left" for="ost">OST</label>
                <span class="form-label float-right">Current Value <%=fiat_symbol%><%=ost_to_fiat%></span>
              </div>
              <input type="text" class="form-control" id="ost_rate" value="1" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%= render :partial => "shared/web/common/faqs" %>
</div>

<%= render :partial => "shared/web/common/steps_bottom_nav" %>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    ost.planner.init({
      has_verified_email: <%= has_verified_email %>,
      grant_initial_ost: <%= grant_initial_ost %>
    });
  });
</script>
<% end %>




<%# if @presenter_obj.client_token.step_three_started? %>

<%# elsif @presenter_obj.client_token.step_two_done? %>

<%# elsif @presenter_obj.client_token.step_one_done? %>

<%# else %>

<%# end %>

<%#= render :partial => "/web/economy/planner/metamask_installed" %>
<%#= render :partial => "/web/economy/planner/metamask_locked" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_network" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_account" %>
<%#= render :partial => "/web/economy/planner/planner_transactions" %>
<%#= render :partial => "/shared/web/modals/stake_mint_confirm" %>
<%#= render :partial => "/shared/web/modals/stake_mint_processing" %>
<%#= render :partial => "/shared/web/modals/stake_mint_complete" %>
<%#= render :partial => "/shared/web/modals/install_metamask_lightbox" %>