<%


  bt_name = @presenter_obj.client_token.name;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);

  if @presenter_obj.client_token.conversion_factor
    ost_to_bt   = @presenter_obj.client_token.conversion_factor
  elsif @presenter_obj.client_token_planner.present?
    bt_to_fiat = @presenter_obj.client_token_planner.token_worth_in_usd
    ost_to_bt = ost_to_fiat / bt_to_fiat
  end

  tx_kind_count = @presenter_obj.client_stats.transaction_kind_count
  # this 4 should ideally also be passed to dummy data creator
  tx_kind_count = 4 if tx_kind_count == 0

  if @presenter_obj.api_console_data.present?
    api_console_data = @presenter_obj.api_console_data.for_create_transaction_kind
  else
    api_console_data = {}
  end

%>

<div class="container">

  <div class="row">
    <div class="col-12 pt-6">
      <h3 class="text-center font-weight-bold letter-space-1">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
      <%= render partial: 'shared/web/common/steps',
                 locals: {
                         classes_step_1: 'complete',
                         classes_step_2: 'active',
                         classes_step_3: 'incomplete'
                 }
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info pt-4 mb-5" role="alert">
        <h5>
          The second step is defining actions
          <a href="//help.ost.com/support/solutions/articles/35000059256-what-are-transactions-and-transaction-values"
             target="_blank" class="card-link float-right text-uppercase hover-link">Learn More</a></h5>
        <hr class="mt-3 mb-4"/>
        <p class="font-weight-light font-size-p">
          We have created 4 sample actions for you. You can edit them or create new ones. Click "Add Action" to create a new action. During alpha we encourage you to try various actions.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card mb-5 border-0">
        <% content_for :cover_elements do %>
            <div id="transaction_editor" class="cover-element metamask-flow">
              <div class="container">
                <%= render :partial => "/web/economy/transactions/transaction_editor" %>
              </div>
            </div>
        <% end %>
        <%= render :partial => "/web/economy/transactions/transaction_list" %>
      </div>
    </div>
  </div>

</div>

<footer>
  <div class="row sticky-footer">
    <div class="container">
      <a href="/planner" class="btn btn-steps-nav pt-3 pb-3 float-left text-left">&lt; Set conversion rate</a>
      <a id="step_3_link" href="/planner/step-3" class="btn btn-steps-nav bg-yellow pt-3 pb-3 float-right">SET UP MINTING  &gt;</a>
    </div>
  </div>
  <div class="pseudo-footer"></div>
</footer>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      //Do PriceOracle Stuff First.
      window.PriceOracle && PriceOracle.setOstToBtFromErb( "<%= ost_to_bt %>" );
      ost.planner.step2.init({

      });
    });
  </script>
<% end %>

