<%
   coin_name   = @presenter_obj.client_token.name;
   coin_symbol = @presenter_obj.client_token.symbol;

  if @presenter_obj.client_token_planner.present?
    token_worth_in_usd_value = @presenter_obj.client_token_planner.token_worth_in_usd
    initial_number_of_users_value = @presenter_obj.client_token_planner.initial_number_of_users
    airdrop_bt_per_user_value = @presenter_obj.client_token_planner.airdrop_bt_per_user
  else
    token_worth_in_usd_value = 10
    initial_number_of_users_value = 10
    airdrop_bt_per_user_value = 10
  end

   fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
   fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
   fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

   ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);

   value_in_fiat_key = "value_in_" + fiat_type;
   value_in_fiat_sym = value_in_fiat_key.to_sym;

   has_verified_email = @presenter_obj.user.is_verified?
   if @presenter_obj.client_balances.blank?
    grant_initial_ost = true
   else
    grant_initial_ost = @presenter_obj.client_balances.is_eligible_for_grant?
  end

%>

<%=
    if !@presenter_obj.user.is_verified?
      render :partial => "/shared/web/common/planner_alert"
    end
%>
<div class="container">
  <form id="step1"
        action="/api/economy/token/plan" method="POST"
        data-ost-formhelper
  >
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mt-4">Plan the <%= coin_name %> Economy in 3 Easy Steps</h3>
        <%= render partial: 'shared/web/common/steps',
                   locals: {
                           classes_step_1: 'active',
                           classes_step_2: 'incomplete',
                           classes_step_3: 'incomplete'
                   }
        %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How much do you want 1 '+coin_name+' to be worth?',
                           id: 'token_worth_in_usd',
                           name: 'token_worth_in_usd',
                           type: 'number',
                           min: 0.001,
                           max: 10,
                           step: 0.001,
                           value: token_worth_in_usd_value,
                           prefix: '$',
                           tooltip: 'show',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How many '+coin_name+' users do you plan to begin with?',
                           id: 'initial_number_of_users',
                           name: 'initial_number_of_users',
                           type: 'number',
                           min: 1,
                           max: 1000000,
                           step: 1,
                           value: initial_number_of_users_value,
                           tooltip: 'show',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
        <%= render partial: 'shared/web/common/slider_right',
                   locals: {
                           label: 'How much '+coin_name+' do you wish to airdrop to each user to begin with?',
                           id: 'airdrop_bt_per_user',
                           name: 'airdrop_bt_per_user',
                           type: 'number',
                           min: 1,
                           max: 20,
                           step: 1,
                           value: airdrop_bt_per_user_value,
                           prefix: '$',
                           tooltip: 'show',
                           classes: 'slider-yellow'
                   }
        %>
        <hr class="mt-2 mb-4"/>
      </div>
      <!--<div class="col-12">
        <button id="getInitialOstBtn"> Get Initial OST</button>
      </div>-->
    </div>


    <div class="row">
      <div class="col-12">
        <div class="p-3 mt-3 mb-3 text-center" style="background: #f9f8e6; color: #597a84">For the purpose of this simulation we will create 25 users for your application</div>
      </div>
    </div>

    <%= render :partial => "shared/web/economy/invisible_ost_to_bt_widget",
      :locals => {
        :bt_to_fiat_input_id => "token_worth_in_usd",
        :ost_to_bt_input_name => "conversion_factor"
      }
    %>
  </form>
  <%= render :partial => "shared/web/common/faqs" %>
</div>

<div class="row" style="background: #d9a025;">
  <div class="container text-right">
    <button  type="submit" class="btn btn-steps-nav bg-yellow pt-3 pb-3" data-submiting="Setting Up..." id="plannerStep1Btn">Set up transactions &gt;</button>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    ost.planner.init({
      has_verified_email: <%= has_verified_email %>,
      grant_initial_ost: <%= grant_initial_ost %>
    });
  });
</script>
<% end %>

<%#= render :partial => "/web/economy/planner/metamask_installed" %>
<%#= render :partial => "/web/economy/planner/metamask_locked" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_network" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_account" %>
<%#= render :partial => "/web/economy/planner/planner_transactions" %>
<%#= render :partial => "/shared/web/modals/stake_mint_confirm" %>
<%#= render :partial => "/shared/web/modals/stake_mint_processing" %>
<%#= render :partial => "/shared/web/modals/stake_mint_complete" %>
<%#= render :partial => "/shared/web/modals/install_metamask_lightbox" %>