<%


  bt_name = @presenter_obj.client_token.name;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);

  if @presenter_obj.client_token.conversion_factor
    ost_to_bt   = @presenter_obj.client_token.conversion_factor
  elsif @presenter_obj.client_token_planner.present?
    bt_to_fiat = @presenter_obj.client_token_planner.token_worth_in_usd
    ost_to_bt = ost_to_fiat / bt_to_fiat
  end

  tx_kind_count = @presenter_obj.client_stats.transaction_kind_count
  # this 4 should ideally also be passed to dummy data creator
  tx_kind_count = 4 if tx_kind_count == 0

%>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center mt-4">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
      <%= render partial: 'shared/web/common/steps',
                 locals: {
                         classes_step_1: '',
                         classes_step_2: 'active',
                         classes_step_3: 'incomplete'
                 }
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <h4>
          <svg class="icon-card-transactions align-middle">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-card-transactions-2"></use>
            </switch>
          </svg>
          The second step is setting up transactions <a href="" class="card-link float-right text-uppercase">Learn More</a></h4>
        <hr class="my-3"/>
        <p class="font-weight-light">We have created 4 default transaction for you. You can edit them or create new ones.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card card-planner mb-5">
        <% content_for :cover_elements do %>
            <div id="transaction_editor" class="cover-element metamask-flow">
              <div class="container">
                <%= render :partial => "/web/economy/transactions/transaction_editor" %>
              </div>
            </div>
        <% end %>
        <%= render :partial => "/web/economy/transactions/transaction_list" %>
      </div>
    </div>
  </div>

</div>

<footer>
  <div class="row sticky-footer">
    <div class="container">
      <a href="/planner" class="btn btn-steps-nav pt-3 pb-3 float-left text-left">&lt; Set conversion rate</a>
      <a id="step_3_link" href="/planner/step-3" class="btn btn-steps-nav bg-yellow pt-3 pb-3 float-right">Stake and mint coins  &gt;</a>
    </div>
  </div>
  <div class="ghosh-footer"></div>
</footer>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      //Do PriceOracle Stuff First.
      window.PriceOracle && PriceOracle.setOstToBtFromErb( "<%= ost_to_bt %>" );
      ost.planner.step2.init({

      });
    });
  </script>
<% end %>

