<%
   bt_name   = @presenter_obj.client_token.name;
   bt_symbol = @presenter_obj.client_token.symbol;

   min_st_prime_to_mint = 0;
   ost_grant_value = 10000;

  if @presenter_obj.client_token_planner.present?
    bt_to_fiat = @presenter_obj.client_token_planner.token_worth_in_usd
    max_allowed_token_worth_in_usd = @presenter_obj.client_token_planner.max_allowed_token_worth_in_usd
  else
    bt_to_fiat = 0.01
    max_allowed_token_worth_in_usd = 1
  end
  

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

  ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);
  ost_to_bt = ost_to_fiat / bt_to_fiat

  value_in_fiat_key = "value_in_" + fiat_type;
  value_in_fiat_sym = value_in_fiat_key.to_sym;

  has_verified_email = @presenter_obj.user.is_verified?

  #Defaults

   only_validate_balances = (GlobalConstant::Base.main_sub_environment?)

  if @presenter_obj.client_balances.blank?
    if GlobalConstant::Base.main_sub_environment?
      grant_initial_ost = false
      grant_initial_eth = false
      only_validate_balances = true
    else
      grant_initial_ost = true
      grant_initial_eth = true
    end
  else
    grant_initial_ost = @presenter_obj.is_eligible_for_ost_grant?
    grant_initial_eth = @presenter_obj.is_eligible_for_eth_grant?
  end

  bt_to_fiat_id = "bt_to_fiat";
  ost_to_fiat_id = "ost_to_fiat";

%>

<script>
  <% if !@presenter_obj.client_balances.blank? %>
  console.log(<%= raw @presenter_obj.client_balances.to_json %>);
  <% end %>
</script>

<%= render :partial => "/shared/web/common/planner_alert" %>

<div class="container">
  <form id="step1-form"
        action="/api/economy/token/plan" method="POST"
        data-ost-formhelper
  >
    <div class="row">
      <div class="col-12 pt-6">
        <h3 class="text-center font-weight-bold letter-space-1">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
        <%= render partial: 'shared/web/common/steps',
                   locals: {
                           classes_step_1: 'active',
                           classes_step_2: 'incomplete',
                           classes_step_3: 'incomplete'
                   }
        %>
        <div class="alert alert-info pt-4 mb-5" role="alert">
          <h5>
            <!--<svg class="icon-card-transactions align-middle">-->
              <!--<switch>-->
                <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-card-transactions-1"></use>-->
              <!--</switch>-->
            <!--</svg> -->
            The first step in creating <%= bt_symbol %> is to set the conversion rate between <%= bt_symbol %> and <%= ost_currency_symbol %>.</h5>
          <hr class="mt-3 mb-4"/>
          <p class="font-weight-light font-size-p">
            Once you mint <%= bt_symbol %>, the conversion rate is fixed and cannot be changed. Your customers will always be able to redeem their <%= bt_symbol %> for OST at that conversion rate.
          </p>
          <p class="font-weight-light mt-2 font-size-p">
            The current value of
            <span class="font-weight-bold"><%= ost_currency_symbol %> =
              <%= fiat_symbol %><span data-ost-mock-element="#<%= ost_to_fiat_id %>"><%= ost_to_fiat %></span>
              <input id="<%= ost_to_fiat_id %>" type="hidden" name="ost_to_fiat" value="<%= ost_to_fiat %>" />
            </span>

          </p>
          <p class="font-weight-light mt-2 mb-2 font-size-p">
            The simple way to set the conversion rate is by deciding
            <span class="font-weight-bold">
              how much you want 1 <%= bt_symbol %> to initially be worth.
            </span>
          </p>
        </div>

        <div class="card card-planner mb-5">
          <div class="card-header">
            <h3 class="mb-0">Set Conversion Rate</h3>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render partial: 'shared/web/common/slider_right',
                 locals: {
                         label: 'How much do you want 1 '+ bt_symbol +' to be worth?',
                         id: bt_to_fiat_id,
                         name: 'token_worth_in_usd',
                         type: 'number',
                         min: 0.01,
                         max: max_allowed_token_worth_in_usd,
                         step: 0.01,
                         value: bt_to_fiat,
                         prefix: fiat_symbol,
                         tooltip: 'show',
                         classes: 'slider-yellow'
                 }
              %>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item font-weight-light font-size-p">
                You have chosen to set
                <span class="font-weight-bold">
                  <span id="ost_to_bt_text">154 <%= bt_symbol %> = 1 <%= ost_currency_symbol %></span>
                </span>
              </li>
              <li class="list-group-item font-weight-light font-size-p">
                Based on the current value of <%= ost_currency_symbol %> your conversion rate will be set to
                <span class="font-weight-bold">
                  1 <%= bt_symbol %> =
                  $<span data-type="fiat" data-ost-mock-element="#<%= bt_to_fiat_id %>">0.1</span>
                </span>

              </li>


              <% if GlobalConstant::Base.main_sub_environment? %>
              <% else %>
                <li class="list-group-item font-weight-light font-size-p pb-0 border-bottom-0">
                  You currently have <%= number_with_delimiter(ost_grant_value, :delimiter => ',') %> <%= ost_currency_symbol %> to test with. You can
                  <span class="font-weight-bold">
                  mint a maximum of
                  <span id="maximum_mintbale_bt_text" data-type="number" data-ost-mock-element="#maximum_mintbale_bt">2,970</span>
                  <input type="hidden" name="maximum_mintbale_bt" id="maximum_mintbale_bt" />
                    <%= bt_symbol %> before requiring more <%= ost_currency_symbol %>.
                </span>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => "shared/web/economy/invisible_ost_to_bt_widget",
      :locals => {
        :bt_to_fiat_input_id => bt_to_fiat_id,
        :ost_to_bt_input_name => "ost_to_bt"
      }
    %>
  </form>
  <%=
      render :partial => "shared/web/common/faqs",
             locals: {
                     header: "FAQ",
                     faqs: [
                             {
                                     title: 'How do I decide the conversion rate for my economy?',
                                     url: 'https://help.ost.com/support/solutions/articles/35000059252-how-do-i-decide-the-conversion-rate-for-my-economy-'
                             },
                             {
                                     title: "How are Branded Tokens and #{ost_currency_symbol} related?",
                                     url: 'https://help.ost.com/support/solutions/articles/35000059253-how-are-branded-tokens-and-ost-related-'
                             },
                             {
                                     title: "What is the value of #{ost_currency_symbol} and does it change?",
                                     url: 'https://help.ost.com/support/solutions/articles/35000059254-what-is-the-value-of-ost%CE%B1-and-does-it-change-'
                             },
                             {
                                     title: 'Can I change my conversion rate?',
                                     url: 'https://help.ost.com/support/solutions/articles/35000059255-can-i-change-my-conversion-rate-'
                             }
                     ]
             }
  %>
</div>

<footer>
  <div class="row sticky-footer">
    <div class="container">
      <button  type="submit" class="btn btn-steps-nav bg-yellow pt-3 pb-3 float-right" data-submiting="Setting Up..." id="plannerStep1Btn">Set up actions &gt;</button>
    </div>
  </div>
  <div class="pseudo-footer"></div>
</footer>


<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    //Do PriceOracle Stuff First.
    window.PriceOracle && PriceOracle.setOstToBtFromErb( "<%= ost_to_bt %>" );
    //Not init the page.
    ost.planner.step1.init({
      has_verified_email: <%= has_verified_email %>,
      grant_initial_ost: <%= grant_initial_ost %>,
      grant_initial_eth: <%= grant_initial_eth %>,
      only_validate_balances: <%= only_validate_balances %>,
      min_st_prime_to_mint: "<%= min_st_prime_to_mint %>",
      ost_grant_value: "<%= ost_grant_value %>",
      idBtToFiat: "<%= bt_to_fiat_id %>",
      idOstToFiat: "<%= ost_to_fiat_id %>",
      idMaxMintBt: "maximum_mintbale_bt",
      idOstToBtText: "ost_to_bt_text",
      ost_currency_symbol: "<%= ost_currency_symbol %>"
    });
  });
  console.log("@presenter_obj", <%= raw @presenter_obj.to_json %> );
</script>
<% end %>
<%#= render :partial => "/web/economy/planner/metamask_installed" %>
<%#= render :partial => "/web/economy/planner/metamask_locked" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_network" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_account" %>
<%#= render :partial => "/web/economy/planner/planner_transactions" %>
<%#= render :partial => "/shared/web/modals/stake_mint_confirm" %>
<%#= render :partial => "/shared/web/modals/install_metamask_lightbox" %>