<%
   bt_name   = @presenter_obj.client_token.name;
   bt_symbol = @presenter_obj.client_token.symbol;

   min_st_prime_to_mint = 0;
   ost_grant_value = 10000;

  if @presenter_obj.client_token_planner.present?
    token_worth_in_usd_value = @presenter_obj.client_token_planner.token_worth_in_usd
    max_allowed_token_worth_in_usd = @presenter_obj.client_token_planner.max_allowed_token_worth_in_usd
  else
    token_worth_in_usd_value = 0.3
    max_allowed_token_worth_in_usd = 10
  end

   fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
   fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
   fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

   ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);

   if @presenter_obj.client_token.conversion_factor
     ost_to_bt   = @presenter_obj.client_token.conversion_factor
   elsif @presenter_obj.client_token_planner.present?
     bt_to_fiat = @presenter_obj.client_token_planner.token_worth_in_usd
     ost_to_bt = ost_to_fiat / bt_to_fiat
   else
     bt_to_fiat = 0.1 * ost_to_fiat
     ost_to_bt = ost_to_fiat / bt_to_fiat
   end

   value_in_fiat_key = "value_in_" + fiat_type;
   value_in_fiat_sym = value_in_fiat_key.to_sym;

   has_verified_email = @presenter_obj.user.is_verified?
   if @presenter_obj.client_balances.blank?
    grant_initial_ost = true
    grant_initial_eth = true
   else
    grant_initial_ost = @presenter_obj.client_balances.is_eligible_for_ost_grant?
    grant_initial_eth = @presenter_obj.client_balances.is_eligible_for_eth_grant?
  end

  bt_to_fiat_id = "bt_to_fiat";
  ost_to_fiat_id = "ost_to_fiat";

%>

<%=
    if !@presenter_obj.user.is_verified?
      render :partial => "/shared/web/common/planner_alert"
    end
%>
<div class="container">
  <form id="step1-form"
        action="/api/economy/token/plan" method="POST"
        data-ost-formhelper
  >
    <div class="row">
      <div class="col-12 pt-6">
        <h3 class="text-center font-weight-bold letter-space-1">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
        <%= render partial: 'shared/web/common/steps',
                   locals: {
                           classes_step_1: 'active',
                           classes_step_2: 'incomplete',
                           classes_step_3: 'incomplete'
                   }
        %>
        <div class="alert alert-info pt-4" role="alert">
          <h5><svg class="icon-card-transactions align-middle">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-card-transactions-1"></use>
            </switch>
          </svg> The first step in creating <%= bt_symbol %> is to set the conversion rate between <%= bt_symbol %> and OST⍺.</h5>
          <hr class="mt-3 mb-4"/>
          <p> 
            Once you Mint <%= bt_symbol %>, the conversion rate is fixed and cannot be changed. Your customers will always be able to redeem their <%= bt_symbol %> for OST at that conversion rate.
          </p>
          <p class="mt-2">
            The current value of
            <strong>OST⍺ =
              <%= fiat_symbol %><span data-ost-mock-element="#<%= ost_to_fiat_id %>"><%= ost_to_fiat %></span>
              <input id="<%= ost_to_fiat_id %>" type="hidden" name="ost_to_fiat" value="<%= ost_to_fiat %>" />
            </strong>
            (OST⍺ tracks the value of OST on public exchanges).
          </p>
          <p class="mt-2">
            The simple way to set the conversion rate is by deciding
            <strong>
              how much you want 1 <%= bt_symbol %> to initially be worth.
            </strong>
          </p>
        </div>

        <div class="card card-planner mb-5">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="card-title mb-1">Set Conversion Rate</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render partial: 'shared/web/common/slider_right',
                 locals: {
                         label: 'How much do you want 1 '+bt_name+' to be worth?',
                         id: bt_to_fiat_id,
                         name: 'token_worth_in_usd',
                         type: 'number',
                         min: 0.01,
                         max: max_allowed_token_worth_in_usd,
                         step: 0.01,
                         value: token_worth_in_usd_value,
                         prefix: fiat_symbol,
                         tooltip: 'show',
                         classes: 'slider-yellow'
                 }
              %>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                You have chosen to set
                <strong>
                  1 <%= bt_symbol %> =
                  $<span data-type="number" data-ost-mock-element="#<%= bt_to_fiat_id %>">0.1</span>
                </strong>
              </li>
              <li class="list-group-item">
                Based on the current value of OST⍺ you will set a conversion rate of 
                <strong>
                  <span id="ost_to_bt_text">154 <%= bt_symbol %> = 1 OST</span>⍺
                </strong>
              </li>
              <li class="list-group-item">
                You currently have <%= number_with_delimiter(ost_grant_value, :delimiter => ',') %> OST⍺ to test with. You can
                <strong>
                  mint a maximum of
                  <span id="maximum_mintbale_bt_text" data-type="number" data-ost-mock-element="#maximum_mintbale_bt">2,970</span>
                  <input type="hidden" name="maximum_mintbale_bt" id="maximum_mintbale_bt" />
                  <%= bt_symbol %> before requiring more OST⍺.
                </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => "shared/web/economy/invisible_ost_to_bt_widget",
      :locals => {
        :bt_to_fiat_input_id => bt_to_fiat_id,
        :ost_to_bt_input_name => "ost_to_bt"
      }
    %>
  </form>
  <%=
      render :partial => "shared/web/common/faqs",
             locals: {
                     faqs: [
                             {
                                     title: 'How do I decide the conversion rate for my economy?',
                                     url: '#'
                             },
                             {
                                     title: 'How is my branded token and OST related?',
                                     url: '#'
                             },
                             {
                                     title: 'What is the value of OSTα?',
                                     url: '#'
                             },
                             {
                                     title: 'Can I change my conversion rate?',
                                     url: '#'
                             }
                     ]
             }
  %>
</div>

<div class="row" style="background: #d9a025;">
  <div class="container text-right">
    <button  type="submit" class="btn btn-steps-nav bg-yellow pt-3 pb-3" data-submiting="Setting Up..." id="plannerStep1Btn">Set up transactions &gt;</button>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    //Do PriceOracle Stuff First.
    window.PriceOracle && PriceOracle.setOstToBtFromErb( "<%= ost_to_bt %>" );
    //Not init the page.
    ost.planner.step1.init({
      has_verified_email: <%= has_verified_email %>,
      grant_initial_ost: <%= grant_initial_ost %>,
      min_st_prime_to_mint: "<%= min_st_prime_to_mint %>",
      ost_grant_value: "<%= ost_grant_value %>",
      idBtToFiat: "<%= bt_to_fiat_id %>",
      idOstToFiat: "<%= ost_to_fiat_id %>",
      idMaxMintBt: "maximum_mintbale_bt",
      idOstToBtText: "ost_to_bt_text"
    });
  });
</script>
<% end %>
<%#= render :partial => "/web/economy/planner/metamask_installed" %>
<%#= render :partial => "/web/economy/planner/metamask_locked" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_network" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_account" %>
<%#= render :partial => "/web/economy/planner/planner_transactions" %>
<%#= render :partial => "/shared/web/modals/stake_mint_confirm" %>
<%#= render :partial => "/shared/web/modals/stake_mint_processing" %>
<%#= render :partial => "/shared/web/modals/stake_mint_complete" %>
<%#= render :partial => "/shared/web/modals/install_metamask_lightbox" %>