<%


  bt_name = @presenter_obj.client_token.name;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type);

  if @presenter_obj.client_token.conversion_factor
    ost_to_bt   = @presenter_obj.client_token.conversion_factor
  elsif @presenter_obj.client_token_planner.present?
    bt_to_fiat = @presenter_obj.client_token_planner.token_worth_in_usd
    ost_to_bt = ost_to_fiat / bt_to_fiat
  end

  tx_kind_count = @presenter_obj.client_stats.transaction_kind_count
  # this 4 should ideally also be passed to dummy data creator
  tx_kind_count = 4 if tx_kind_count == 0

%>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h3 class="text-center mt-4">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
      <%= render partial: 'shared/web/common/steps',
                 locals: {
                         classes_step_1: '',
                         classes_step_2: 'active',
                         classes_step_3: 'incomplete'
                 }
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card card-planner mb-5">
        <div class="card-header">
          <h5 class="card-title mb-1">We have set up these <%= tx_kind_count %> transaction types for you. You can change them or create new ones.</h5>
          <p class="card-text">Once you are done please click the next button to start staking and minting.</p>
        </div>
        <% content_for :cover_elements do %>
            <div id="transaction_editor" class="cover-element metamask-flow">
              <div class="container">
                <%= render :partial => "/web/economy/transactions/transaction_editor" %>
              </div>
            </div>
        <% end %>
        <%= render :partial => "/web/economy/transactions/transaction_list" %>
      </div>
    </div>
  </div>

</div>

<div class="row" style="background: #d9a025;">
  <div class="container">
    <a href="/planner" class="btn btn-steps-nav pt-3 pb-3 float-left text-left">&lt; Set conversion rate</a>
    <a id="step_3_link" href="/planner/step-3" class="btn btn-steps-nav bg-yellow pt-3 pb-3 float-right">Stake and mint coins  &gt;</a>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    //Do PriceOracle Stuff First.
    window.PriceOracle && PriceOracle.setOstToBtFromErb( "<%= ost_to_bt %>" );
    ost.planner.step2.init({

    });
  </script>
<% end %>

