<% if @presenter_obj.client_token.step_three_started? %>
    <h1>render a popup over this page which shows states of stake and mint process</h1>
<% elsif @presenter_obj.client_token.step_two_done? %>
    <h1> render page from where user performs step 3</h1>
<% elsif @presenter_obj.client_token.step_one_done? %>
    <h1> render page from where user performs step 2 @presenter_obj.transaction_types </h1>
<% else %>
    <h1> render page from where user performs step 1 using @presenter_obj.client_token </h1>
<% end %><%= render :partial => "/web/economy/planner/metamask_installed" %>
<%#= render :partial => "/web/economy/planner/metamask_locked" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_network" %>
<%#= render :partial => "/web/economy/planner/metamask_wrong_account" %>
<%#= render :partial => "/web/economy/planner/ost_sent" %>
<%#= render :partial => "/web/economy/planner/planner_transactions" %>
<%= render :partial => "/shared/web/modals/stake_mint_confirm" %>
<%= render :partial => "/shared/web/modals/stake_mint_processing" %>
<%= render :partial => "/shared/web/modals/stake_mint_complete" %>
<%= render :partial => "/shared/web/modals/verify_account" %>
<%= render :partial => "/shared/web/modals/install_metamask_lightbox" %>