<%  bt_symbol = @presenter_obj.client_token.symbol || 'Token'
    prefix = GlobalConstant::Environment.sandbox_sub_url_prefix
    token_api = "/#{prefix}/api/token"
    sign_messages_api = "/#{prefix}/api/token/addresses/sign-messages"
    addresses_api = "/#{prefix}/api/token/addresses"
    deployment_api = "/#{prefix}/api/token/deploy"
    deploy_route = "/#{prefix}/token/deploy"
    chain_id = GlobalConstant::Environment.chain_id #Set from Presenter object
%>
<form data-ost-formhelper id="economy-planner" action="/<%=prefix%>/api/token" method="POST">
<div class="planner-container  text-center">
  <h3 class="mt-5">
    Welcome to OST KIT, lets set up your token!
  </h3>

  <div class="container">
      <div class="row ">
        <div class="card card-planner my-5">
          <div class="card-header text-left">
            <h4 class="mb-2 ">Token Details</h4>
            <p class="font-weight-light mb-0">
              Here you will set a unique identity for your token. People will relate your brand to your token name and the Token Symbol your act like an identifier
            </p>
          </div>
          <div class="card-body ">
              <div class="user-form row text-left">
                <div class="form-group mb-2 d-inline-block col-3 mr-4">
                  <label class="form-label" for="token_name">Token Name</label>
                  <input type="text" class="form-control" id="name"
                         value ="<%= @presenter_obj.client_token.name%>" placeholder="Token Name" name="name" minlength="4" maxlength="20" pattern="^[a-zA-Z][a-zA-Z0-9\s]+[a-zA-Z0-9\s]+[a-zA-Z0-9]"  required tabindex="1" />
                  <div class="invalid-feedback" data-forid="name">&nbps;</div>
                </div>
                <div class="form-group mb-2 d-inline-block col-3">
                  <label class="form-label" for="token_symbol">Token Symbol</label>
                  <input type="text" class="form-control" id="symbol"
                         value ="<%= @presenter_obj.client_token.symbol%>" placeholder="Token Symbol" name="symbol" minlength="3" maxlength="4" pattern="^[a-zA-Z][a-zA-Z0-9]+" required tabindex="1" />
                  <div class="invalid-feedback" data-forid="symbol">&nbps;</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row card card-planner mb-5">
        <div class="text-left">
          <div class="card-header">
            <h4 class="mb-0 ">Advance Options</h4>
            <p class="font-weight-light mb-0 mt-2">
              You would be setting Conversion Rate for your token here, simple way to set the conversion rate is by deciding how much you want 1 Token to initially be worth.
              <span class="header-recommendation font-weight-bold">Our Recommendation is to set 1 TOKEN = 1 OST = $0.023 USD</span>
            </p>
          </div>
        </div>
          <div class="accordion" id="advance-options-accordion">
            <div class="text-left">
              <div class="" id="advance-options-header">
                <p class="text-left slider-recommendation m-3 ">
                  Our Recommended conversion rate is set to
                    <span class="text-different-color">1</span>
                       <b> TOKEN  =</b>
                    <span class="text-different-color">1</span>
                       <b> OST =</b>
                    <span class="text-different-color">$0.10</span>
                       <b>USD</b>
                    <span class="edit-collapse" data-toggle="collapse" data-target="#collapsable-element" aria-expanded="true" aria-controls="collapsable-element">
                     <u><b>EDIT</b></u>
                    </span>
                </p>
              </div>
              <div id="collapsable-element" class="collapse " aria-labelledby="advance-options-header" data-parent="#advance-options-accordion">
                <div class="card-body ">
                  <div class="row card-planner">
                    <div class="user-form col-10">
                      <%= render partial: 'shared/web/common/slider_right',
                                 locals: {
                                     label: 'How much do you want 1 '+ bt_symbol  +' to be worth?',
                                     id: "bt_to_ost",
                                     name: 'conversion_factor',
                                     type: 'number',
                                     min: "%0.5f" %0.00001,
                                     max: 500,
                                     step: 0.00001,
                                     value:  @presenter_obj.client_token.conversion_factor,
                                     postfix: "OST",
                                     tooltip: 'show',
                                     classes: 'slider-yellow'
                                 }
                      %>
                    </div>
                    <div class="col-2 my-auto">
                      <%= render :partial => "/shared/web/common/mocker",
                                 :locals => {
                                     :mock_selector => "#bt_to_ost",
                                     :mock_type => "fiat",
                                     :value => "1"
                                 }
                      %>
                    </div>
                  </div>
                  <div class="conversion-section row">
                    <div class="col-4 right-border text-center p-4">
                      <span class="text-different-color">1</span> Token
                      <span class="equal-to-sign">=</span>
                    </div>
                    <div class="col-4 right-border text-center p-4">
                      <span class="text-different-color"><span class="ost-mocker-value" data-type="fiat" data-ost-mock-element="#bt_to_ost">1</span></span> OST
                      <span class="equal-to-sign">=</span>
                    </div>
                    <div class="col-4 p-4 text-center">
                      <span class="text-different-color">$<span class="ost-mocker-value" data-type="fiat" data-ost-mock-element="#bt_to_ost">1</span></span> USD
                    </div>
                  </div>
                  <p class="pt-2"> Conversion rate will be set in OST, above visualization shows the Value of you token against OST and USD. OST is Market linked so the inherent value of your token may fluctuate based on the value of OST </p>
                  <div class="invalid-feedback" data-for="general_error">&nbps;</div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <footer>
    <div class="row sticky-footer">
      <div class="container">
        <button  type="submit" class="btn btn-steps-nav bg-yellow pt-3 pb-3 float-right" data-submiting="Setting Up..." id="setup-token-btn">Set up your Token &gt;</button>
      </div>
    </div>
    <div class="pseudo-footer"></div>
  </footer>
</div>
</form>

<% content_for :end_js do %>
  <script type="text/javascript">
      $( function () {
          ost.tokenSetup.init({
              signMessagesEndPoint: '<%= sign_messages_api %>',
              addressesEndPoint: '<%= addresses_api%>',
              deploymentEndpoint : '<%=deployment_api %>' ,
              deployRoute : '<%= deploy_route %>',
              chainId : '<%= chain_id %>',
              personalSignCancelErrorMessage : 'Could not proceed as you denied message signature in MetaMask.'
          });
      });
  </script>
<% end %>
