<%
  chain_id = GlobalConstant::Chain.origin_chain_id
  prefix = GlobalConstant::Environment.url_prefix
  mint_api = "/#{prefix}/api/token/mint" #TODO
  get_ost_api = "/#{prefix}/api/token/mint/grant"  # TODO
  workflow_status_api = "/#{prefix}/api/workflow"  # TODO
  gateway_composer_api = "/#{prefix}/api/contracts/gateway-composer" # TODO
  redirect_route = GlobalConstant::RedirectMap.get()[:token_progress]

  data_config = {
      origin_addresses: @presenter_obj.origin_addresses.data,
      auxiliary_addresses: @presenter_obj.auxiliary_addresses.data,
      contract_details: @presenter_obj.contract_details.data,
      token: @presenter_obj.client_token.data,
      price_points: @presenter_obj.oracle_price_points.data,
      client_manager: @presenter_obj.client_manager.data,
      gas_price: @presenter_obj.gas_price.data,
      workflow: @presenter_obj.workflow.data,
      min_ost_required: @presenter_obj.min_ost_in_wei.data,
      min_eth_required: @presenter_obj.min_eth_in_wei.data
  }

  is_buy_ost = GlobalConstant::Environment.is_main_production?
  is_workflow = @presenter_obj.workflow.is_present?
  initial_ost_funding = GlobalConstant::StakeAndMint.initial_ost_funding
  bt_to_mint_min = GlobalConstant::StakeAndMint.min_bt_to_mint
  bt_to_mint_step = GlobalConstant::StakeAndMint.step_bt_to_mint

  #FE specific
  bt_to_mint_name = "bt_to_mint"
  bt_to_mint_id = "bt_to_mint"
  bt_to_mint_value = bt_to_mint_min
  bt_to_mint_max = 5000
  staker_address_name = "staker_address"
  staker_address_selector = "[name='#{staker_address_name}']"
%>


<div id="stake-mint-start" class="col-9 mx-auto mt-6 jMintSections" style="display: <%= is_workflow ? "none" : "block" %>">
  <div class="card text-center p-6">
    <h3 class="mb-0">Start Minting</h3>
    <div class="simulator-image-wrapper my-4">
      <svg style="width: 150px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mint-tokens"></use>
        </switch>
      </svg>
    </div>
    <div class="token-supply-infotext mb-4 col-5 mx-auto">Mint more tokens and power your economy as you need.</div>
    <div class="run-transaction-btn-wrapper">
      <button id="mint-tokens" class="btn btn-gold">MINT TOKENS</button>
    </div>
  </div>
</div>

<div id="stake-mint-process" class="jMintSections" style="display: none;">

    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="card card-planner my-5">
            <div class="card-header text-left">
              <h4 class="mb-0">Mint Tokens</h4>
            </div>
            <div class="card-body">
              <div class="row mb-4">
                <%= render :partial => "/web/economy/token/stake_address",
                           :locals => {
                               :name => staker_address_name,
                               :selector => staker_address_selector
                           }
                %>
                <div class="col-6 text-left pl-0">
                  <span class="text-muted font-weight-light">To select another address please open the metamask plugin and select your prefered address</span>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <form> <!--This is required by jQuerey validator so please dont remove-->
                    <%=
                      render partial: 'shared/web/common/slider_top',
                             locals: {
                                 label: "TOKENS TO MINT",
                                 id: bt_to_mint_id,
                                 name: bt_to_mint_name,
                                 type: 'number',
                                 min: bt_to_mint_min,
                                 max: bt_to_mint_max,
                                 step: bt_to_mint_step,
                                 value: bt_to_mint_value,
                                 tooltip: 'hide',
                                 classes: 'slider-primary'
                             }
                    %>
                  </form>
                  <div class="mt-4 mb-2">
                    <%=
                      render partial: 'shared/web/common/mocker',
                             locals: {
                                 :header => "CURRENT TOKEN VALUE IN USD",
                                 :mock_selector => "#" + bt_to_mint_id,
                                 :mock_parser => "ost.tokenMint.btToFiat"
                             }
                    %>
                  </div>

                </div>
                <div class="col-8 user-form form-group m-0">
                  <label class="form-label">OST SUPPLY IN ACCOUNT</label>
                  <div class="d-flex align-items-center">
                    <div class="p-0 form-group m-0">
                      <div id="ostSupplyInAccountPie" class="pie-chat" style="width:200px; height: 200px"></div>
                    </div>
                    <ul class="p-0 m-0">
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply available"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_available_key>OST Available</small>
                          <small><span class="ost-mocker-value total-ost-available"
                                       data-type="ost" data-ost-mock-element="#<%= bt_to_mint_id %>"
                                       data-ost-mock-parser="ost.tokenMint.ostAvailableOnBtChange"></span></small>
                        </p>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply staked-minting"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_staked_key>OST to be staked for minting tokens</small>
                          <small class="d-block" data-ost_staked_val>
                                <span class="ost-mocker-value" data-type="ost" data-ost-mock-element="#<%= bt_to_mint_id %>"
                                      data-ost-mock-parser="ost.tokenMint.ostToStakeOnBtChange">
                              </span>
                          </small>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <button id="token-mint-continue-btn" class="btn btn-primary d-inline-block">Continue</button>
        </div>
      </div>
    </div>
</div>

<div class="jMintSections" id="jAddressNotWhitelistedSection" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="card card-planner my-5">
          <div class="card-header text-left">
            <h4 class="mb-0">Mint Tokens</h4>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <%= render :partial => "/web/economy/token/stake_address",
                         :locals => {
                             :name => staker_address_name,
                             :selector => staker_address_selector
                         }
              %>
              <div class="col-6 align-self-center d-flex text-left pl-0">
                <div class="float-left align-self-center">
                  <svg class="svg icon-checkmark" style="width: 30px;height: 30px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
                    </switch>
                  </svg>
                </div>
                <div style="overflow: auto" class="text-muted font-weight-light ml-2 align-self-center">
                  Your selected account is not whitelisted with us. Please try changing the Metamask account.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="jMintSections" id="jInsufficientBalSection" style="display: <%= is_workflow ? "block" : "none" %>">
  <div class="container">
    <form id="get-ost-form" action="<%= get_ost_api %>" method="GET">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="card card-planner my-5">
            <div class="card-header text-left">
              <h4 class="mb-0">Mint Tokens</h4>
            </div>
            <div class="card-body">
              <div class="row mb-4">
                <%= render :partial => "/web/economy/token/stake_address",
                           :locals => {
                               :name => staker_address_name,
                               :selector => staker_address_selector
                           }
                %>
                <div class="col-6 align-self-top d-flex text-left pl-0 jStatusWrapper">
                  <div class="status-message">
                    <div class="float-left align-self-center">
                      <% if is_buy_ost %>
                        <svg class="svg icon-checkmark" style="width: 30px;height: 30px">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
                          </switch>
                        </svg>
                      <% else %>
                        <svg class="svg icon-checkmark" style="width: 30px;height: 30px">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fund-wallet"></use>
                          </switch>
                        </svg>
                      <% end %>
                    </div>
                    <div style="overflow: auto" class="text-muted font-weight-light ml-2 align-self-center">
                      Your selected address does not have OSTα. Will fund <%= initial_ost_funding %> OSTα in to your
                      selected MetaMask wallet to get you started.
                    </div>
                  </div>
                </div>
              </div>
              <% if is_buy_ost %>
                <a href="javascript:alert('Please provide links')" class="btn btn-primary d-inline-block buy-eth-btn" style="display: none;">Buy
                  ETHER</a>
                <a href="javascript:alert('Please provide links')" class="btn btn-primary d-inline-block buy-ost-btn" style="display: none;">Buy
                  Ost</a>
              <% else %>
                <button id="get-ost-btn" type="submit" data-submiting="Getting Ost ⍺.."
                        class="btn btn-primary d-inline-block buy-eth-btn buy-ost-btn">Get Ost ⍺
                </button>
                <span class="jGetOstLoaderText ml-3 text-muted font-weight-light" style="display: none">
                <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="15" height="15"/>
                Please wait while we transfer OST⍺ to your address
              </span>
              <% end %>
            </div>
            <div class="invalid-feedback general_error mb-2">&nbsp;</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%= render :partial => "/web/economy/token/token_mint_signs",
           :locals => {
               :bt_to_mint_selector => "#" + bt_to_mint_id
           } %>


<% content_for :popups do %>
  <%= render :partial => "shared/web/modals/stake_mint_confirm",
             :locals => {
                 :bt_to_mint_selector => "#" + bt_to_mint_id,
                 :stake_address_name => staker_address_name,
                 :gateway_composer_api => gateway_composer_api
             } %>
<% end %>

<% content_for :end_js do %>
  <script>
    $(function () {
      var dataConfig = JSON.parse('<%= raw data_config.to_json %>');
      ost.tokenMint.init({
        workFlowStatusApi: "<%= workflow_status_api %>",
        mintApi: "<%= mint_api%>",
        chainId: "<%= chain_id %>",
        redirectRoute: "<%= redirect_route %>",
        dataConfig: dataConfig,
        btToMintId: "<%= bt_to_mint_id %>"
      });
    });
  </script>
<% end %>