<%
  prefix = GlobalConstant::Environment.sandbox_sub_url_prefix ;
  token_api = "/"+prefix+"/api/token" ;
  sign_messages_api = "/"+prefix+"/api/token/addresses/sign-messages";
  addresses_api = "/"+prefix+ "/api/token/addresses";
  redirect_route = "/"+prefix+ "/token/mint" ;
  chain_id = '3' #Send from Presenter object
%>

<div id="stake-mint-1" class="col-9 mx-auto mt-6">
  <div class="card text-center p-6">
    <h3 class="mb-0">Start Minting</h3>
    <div class="simulator-image-wrapper my-4">
      <svg style="width: 150px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mint-tokens"></use>
        </switch>
      </svg>
    </div>
    <div class="token-supply-infotext mb-4 col-5 mx-auto">Mint more tokens and power your economy as you need.</div>
    <div class="run-transaction-btn-wrapper">
      <button id="mint-tokens" class="btn btn-gold">MINT TOKENS</button>
    </div>
  </div>
</div>

<div id="stake-mint-2" style="display: none;">
  <form data-ost-formhelper id="economy-planner" action="<%= token_api %>" method="POST" class="user-form">
    <!--  <div class="planner-container text-center">-->
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="card card-planner my-5">
            <div class="card-header text-left">
              <h4 class="mb-0">Mint Tokens</h4>
            </div>
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-12 text-left form-group mb-0">
                  <label class="form-label">SELECTED ADDRESS IN METAMASK</label>
                </div>
                <div class="col-6">
                  <%=
                    render partial: 'shared/web/common/mocker',
                           locals: {
                               :value => ""
                           }
                  %>
                </div>
                <div class="col-6 text-left pl-0">
                  <span class="text-muted font-weight-light">To select another address please open the metamask plugin and select your prefered address</span>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <%=
                    render partial: 'shared/web/common/slider_top',
                           locals: {
                               label: "TOKENS TO MINT",
                               id: "bt_to_mint_input_id",
                               name: "bt_to_mint_input_name",
                               type: 'number',
                               min: 1,
                               max: 2,
                               step: 1,
                               value: 1,
                               tooltip: 'hide',
                               classes: 'slider-primary'
                           }
                  %>
                  <div class="mt-4 mb-2">
                    <%=
                      render partial: 'shared/web/common/mocker',
                             locals: {
                                 :header => "CURRENT TOKEN VALUE IN USD",
                                 :value => "15.898"
                             }
                    %>
                  </div>

                </div>
                <div class="col-8 user-form form-group m-0">
                  <div class="d-flex align-items-center">
                    <div class="p-0 form-group m-0">
                      <label class="form-label">OST SUPPLY IN ACCOUNT</label>
                      <div id="ostSupplyPie" class="pie-chat" style="width:100%; height: 200px"></div>
                    </div>
                    <ul class="p-0 m-0">
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply available"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_available_key>OST Available</small>
                          <small class="d-block" data-ost_available_val>350</small>
                        </p>
                      </li>
                      <li class="d-flex align-items-center mb-3">
                        <span class="ost-supply staked-minting"></span>
                        <p class="m-0 ml-2">
                          <small class="d-block" data-ost_staked_key>OST to be staked for minting tokens</small>
                          <small class="d-block" data-ost_staked_val>310</small>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <button class="btn btn-primary d-inline-block">Continue</button>
        </div>
      </div>
    </div>
    <!--  </div>-->
  </form>




</div>
<% content_for :end_js do%>
  <script>
    $(function () {
      ost.token_mint.init({
        signMessagesEndPoint: '<%= sign_messages_api %>',
        addressesEndPoint: '<%= addresses_api%>',
        chainId : '<%= chain_id %>',
        redirectRoute : '<%= redirect_route %>'
      });
    });
  </script>
<% end %>