<%

  # IMPORTANT NOTE FOR BACKEND-DEV #Puneet #Sunil #Pankaj
  # IF YOU ARE CHANGING "name" property, please scroll down and also update inputNameKeys

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

  value_in_fiat_key = "value_in_" + fiat_type;
  value_in_fiat_sym = value_in_fiat_key.to_sym;

  max_transaction_val = 100;

  #Default value for creating new transaction to be set.
  default_fiat_value = 0.10;

  create_url = "/api/economy/transaction/kind/create";
  edit_url = "/api/economy/transaction/kind/edit";
  
  default_transaction_values = { 
    :commission_percent => 0,
    :kind => "user_to_user",
    :name => "",
    :currency_type => fiat_type.to_s,
    :currency_value => default_fiat_value.to_s
  };

  default_transaction_values[ value_in_fiat_sym ] = default_fiat_value;  



%>

<form id="transaction_editor_form" class="user-form" action="/api/client/sign-up" method="POST"
  data-ost-formhelper>
  <input type="hidden" name="client_transaction_id" id="transaction_id" />
  <input type="hidden" name="device_id" id="transaction_device_id"/>


  <div class="row">
    <div class="col-12">
      <input type="hidden" id="transaction_heading_create" value="Create a Transaction Type"/>
      <input type="hidden" id="transaction_heading_update" value="Update a Transaction Type"/>
      <h3 class="mt-4" id="transaction_editor_mode_heading">Create a Transaction Type</h3>
      <hr class="mb-0"/>
    </div>
    <div class="col-12">
      <div class="form-group m-0" id="kindFormGroup">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_user_to_user" value="user_to_user" />
            <label class="radio-button-label" for="kind_user_to_user">
            <span class="radio-button-circle"></span>User to User</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_user_to_company" value="user_to_company" />
          <label class="radio-button-label" for="kind_user_to_company">
            <span class="radio-button-circle"></span>User to Company</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_company_to_user" value="company_to_user" />
          <label class="radio-button-label" for="kind_company_to_user">
            <span class="radio-button-circle"></span>Company to User</label>
        </div>
        <div class="invalid-feedback" data-forname="kind">&nbps;</div>
      </div>
    </div>

    <div class="col-8">
      <div class="form-group" id="transaction_name_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Name</label>
        <input id="transaction_name" type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Transaction Name" required/>
        <div class="invalid-feedback" data-forid="transaction_name">&nbps;</div>
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-12 form-group mb-0">
      <label class="form-label">Price Oracle
        <a href="//help.ost.com/support/solutions/articles/35000059258-what-is-a-price-oracle"
           target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
      </label>
    </div>
    <div class="col-12">
      <div class="form-group" id="value_currency_type_group">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button" type="radio"
            name="currency_type" id="currency_type_fiat" value="<%= fiat_type %>" />
          <label class="radio-button-label" for="currency_type_fiat">
            <span class="radio-button-circle"></span>On</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button" type="radio"
            name="currency_type" id="currency_type_bt" value="BT" />
          <label class="radio-button-label" for="currency_type_bt">
            <span class="radio-button-circle"></span>Off</label>
        </div>
        <label class="radio-button-label p-0 font-weight-light" id="currency_type_bt_help_text">
          (When the price oracle is Off the <%= bt_symbol %> value remains constant and the <%= fiat_display_text %> value will auto adjust)
        </label>
        <label class="radio-button-label p-0 font-weight-light" id="currency_type_fiat_help_text">
          (When the price oracle is On the <%= fiat_display_text %> value remains constant and the <%= bt_symbol %> value will auto adjust)
        </label>
        <div class="invalid-feedback" data-forname="currency_type">&nbps;</div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" id="transaction_value_in_fiat_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Value IN <%= fiat_display_text %></label>
        <input id="value_in_fiat" type="number" name="currency_value" 
        class="form-control" aria-describedby="emailHelp" max="100"
        step="0.01" min="0.01" data-ost-num-autocorrect-element
        placeholder="Value in (<%= fiat_display_text %>)" required/>
        <div class="invalid-feedback" data-forid="value_in_fiat">&nbps;</div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" id="value_in_bt_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Value In <%= bt_symbol %></label>
        <input id="value_in_bt" type="number" 
          name="currency_value" class="form-control" 
          step="0.00001" min="0.00001"
          data-ost-num-autocorrect-element
          aria-describedby="emailHelp" placeholder="Value in (<%= bt_symbol %>)" required/>
        <div class="invalid-feedback" data-forid="value_in_bt">&nbps;</div>
      </div>
    </div>

    <div class="col-2 mt-2">
      <input type="hidden" name="value_in_ost" id="value_in_ost" value="7.5" />
      <%= render :partial => "/shared/web/common/mocker", 
        :locals => {
          :header => "VALUE IN OSTâº",
          :mock_selector => "#value_in_ost",
          :value => "15.898"
        }
      %> 
    </div>
  </div>
  <div class="row" id="commission-options-row">
    <div class="col-12 form-group mb-0">
      <label class="form-label">
        Charge Transaction Fees
        <a href="//help.ost.com/support/solutions/articles/35000059259-what-are-fees-on-transactions"
           target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
      </label>
    </div>


    <div class="col-12">
      <% # Below form-group is UI only %>
      <div class="form-group" id="has_commission_group">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-has-commission" type="radio"
            name="has_commission" id="has_commission_yes" value="1" />
          <label class="radio-button-label" for="has_commission_yes">
            <span class="radio-button-circle"></span>Yes</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-has-commission" type="radio"
            name="has_commission" id="has_commission_no" value="0" />
          <label class="radio-button-label" for="has_commission_no">
            <span class="radio-button-circle"></span>No</label>
        </div>
        <div class="invalid-feedback" data-forname="has_commission">&nbps;</div>
      </div>
    </div>


    <div class="col-12" id="commission_percent_wrap">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-0">
          <label class="form-label" for="commission_percent">SET TRANSACTION FEE (IN %). <span>The Fee will be deducted from the transaction amount.</span></label>          
          </div>
        </div>
        <div class="col-8">
          <%= render partial: 'shared/web/common/slider_right',
              locals: {
              label: '',
              id: 'commission_percent',
              name: 'commission_percent',
              type: 'number',
              min: 1,
              max: 100,
              step: 0.05,
              value: 1,
              tooltip: 'show',
              classes: 'slider-primary'
              }
          %>
          <input type="hidden" name="commission_in_bt" id="commission_in_bt" value="5" />
          <input type="hidden" name="commission_in_fiat" id="commission_in_fiat" value="1.5" />
        </div>

        <div class="col-2 mt-1">
          <%= render :partial => "/shared/web/common/mocker",
                     :locals => {
                       :header => "VALUE IN " + bt_symbol,
                       :mock_selector => "#commission_in_bt"
                     }
          %>
        </div>

        <div class="col-2 mt-1">

          <%= render :partial => "/shared/web/common/mocker",
                     :locals => {
                       :header => "VALUE IN " + fiat_display_text,
                       :mock_selector => "#commission_in_fiat"
                     }
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card mb-5">
          <div class="card-body text-uppercase text-center">
            <h6 class="card-title mb-1">TRANSACTION VALUE IN <%= bt_symbol %></h6>
            <div class="card-text mb-1">
              <span class="orange" data-ost-mock-element="#value_in_bt"></span>
            </div>
            <div class="card-text orange">
              (<span class="orange"><%= fiat_symbol %><span data-ost-mock-element="#value_in_fiat"></span></span>)
            </div>
          </div>
        </div>
        <div class="card mb-5 commission-content-wrapper">
          <div class="card-body text-uppercase text-center">
            <h6 class="card-title mb-1">TRANSACTION FEES IN <%= bt_symbol %></h6>
            <div class="commission-enabled-content">
              <div class="card-text mb-1">
                <span class="orange" data-ost-mock-element="#commission_in_bt"></span>
              </div>
              <div class="card-text orange">
                <% # DO NOT PROVIDE SPACE between fiat_symbol & commission_in_fiat %>
                (<span class="orange"><%= fiat_symbol %><span data-ost-mock-element="#commission_in_fiat"></span></span>)
              </div>
            </div>
            <div class="commission-disabled-content">
              <div class="card-text mb-1">
                <span class="orange">0</span>
              </div>
              <div class="card-text orange">(<%= fiat_symbol %>0)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <% # Form Buttons %>
    <div class="col-12">
      <button id="transaction_editor_submit_btn" type="submit" data-submiting="Adding..." 
        class="mt-4 btn btn-gold d-inline-block float-left">ADD TRANSACTION</button>
      <a id="transaction_editor_cancel_btn" href="javascript:void(0)"
        class="mt-4 ml-4 btn ost-btn-secondary d-inline-block float-left">CANCEL</a>
    </div>
    <div class="col-12">
      <div class="mt-5 mb-5" style="height: 20px" />
    </div>
  </div> <!-- Row Ending -->
</form>

<% content_for :end_js do %>
<script type="text/javascript">
  <% #See transactions_editor.js for more options %>
  ost.transactions.editor.init({
     fiat_symbol        : "<%= fiat_symbol %>"
    , fiat_type         : "<%= fiat_type %>"
    , defaultData       : <%= raw default_transaction_values.to_json %>
    , eventContext      : ost.transactions
    , createUrl         : "<%= create_url %>"
    , editUrl           : "<%= edit_url %>"
    , maxTransactionVal : <%= max_transaction_val %>
    , inputNameKeys: {
      tx_kind               : "kind"
      , has_commission      : "has_commission"
      , commission_percent  : "commission_percent"
      , commission_in_bt    : "commission_in_bt"
      , commission_in_fiat  : "commission_in_fiat"
    }
  });
</script>
<% end %>
  
