<%

  coin_name   = @presenter_obj.client_token.name;
  coin_symbol = @presenter_obj.client_token.symbol;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

  value_in_fiat_key = "value_in_" + fiat_type;
  value_in_fiat_sym = value_in_fiat_key.to_sym;

  ost_to_bt   = @presenter_obj.client_token.conversion_rate;

  ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_rate(fiat_type);

  bt_to_fiat  = ost_to_fiat * ost_to_bt

  #Default value for creating new transaction to be set.
  default_fiat_value = 0.10;

  create_url = "/api/economy/transaction/kind/create";
  edit_url = "/api/economy/transaction/kind/edit";
  
  default_transaction_values = { 
    :commission_percent => 0,
    :kind => "user_to_user",
    :name => "",
    :currency_type => fiat_type.to_s,
    :currency_value => default_fiat_value.to_s
  };

  default_transaction_values[ value_in_fiat_sym ] = default_fiat_value;  



%>

<form id="transaction_editor_form" action="/api/client/sign-up" method="POST"
  data-ost-formhelper>
  <input type="hidden" name="client_transaction_id" id="transaction_id" />
  <input type="hidden" name="device_id" id="transaction_device_id"/>


  <div class="row">
    <div class="col-12">
      <h3 class="mt-4" id="transaction_editor_mode_heading">Create Transactions</h3>
      <hr class="mb-0"/>
    </div>
    <div class="col-12">
      <div class="form-group m-0" id="kindFormGroup">
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="kind" id="kind_user_to_user" value="user_to_user" />
            <label class="form-check-label radio-button-label" for="kind_user_to_user">
            <span class="radio-button-circle"></span>User to User</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="kind" id="kind_user_to_company" value="user_to_company" />
          <label class="form-check-label radio-button-label" for="kind_user_to_company">
            <span class="radio-button-circle"></span>User to Company</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="kind" id="kind_company_to_user" value="company_to_user" />
          <label class="form-check-label radio-button-label" for="kind_company_to_user">
            <span class="radio-button-circle"></span>Company to User</label>
        </div>
        <div class="invalid-feedback" data-forname="kind">&nbps;</div>
      </div>
    </div>

    <div class="col-8">
      <div class="form-group" id="transaction_name_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Name</label>
        <input id="transaction_name" type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Transaction Name" required/>
        <div class="invalid-feedback" data-forid="transaction_name">&nbps;</div>
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-12 form-group">
      <label class="form-label">Do you wish to keep the USD value for this transaction to be fixed?
        <a href="/" class="text-uppercase form-link">Learn More About Price Oracle</a>
      </label>
    </div>
    <div class="col-12">
      <div class="form-group" id="value_currency_type_group">
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="currency_type" id="currency_type_fiat" value="<%= fiat_type %>" />
          <label class="form-check-label radio-button-label" for="currency_type_fiat">
            <span class="radio-button-circle"></span>Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="currency_type" id="currency_type_bt" value="bt" />
          <label class="form-check-label radio-button-label" for="currency_type_bt">
            <span class="radio-button-circle"></span>No</label>
        </div>
        <div class="invalid-feedback" data-forname="currency_type">&nbps;</div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" id="transaction_value_in_fiat_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Value IN (<%= fiat_display_text %>)</label>
        <input id="value_in_fiat" type="number" name="currency_value" class="form-control" aria-describedby="emailHelp" placeholder="Value in (<%= fiat_display_text %>)" required/>
        <div class="invalid-feedback" data-forid="value_in_fiat">&nbps;</div>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" id="value_in_bt_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Transaction Value In (<%= coin_symbol %>)</label>
        <input id="value_in_bt" type="number" name="currency_value" class="form-control" aria-describedby="emailHelp" placeholder="Value in (<%= coin_symbol %>)" required/>
        <div class="invalid-feedback" data-forid="value_in_bt">&nbps;</div>
      </div>
    </div>

    <div class="col-2">
      <input type="hidden" name="value_in_ost" id="value_in_ost" value="7.5" />
      <%= render :partial => "/shared/web/common/mocker", 
        :locals => {
          :header => "VALUE IN OST",
          :mock_selector => "#value_in_ost",
          :value => "15.898"
        }
      %> 
    </div>

    <div class="col-12 form-group">
      <label class="form-label">Want to get comission on this transaction?</label>
    </div>


    <div class="col-12">
      <% # Below form-group is UI only %>
      <div class="form-group" id="has_commission_group">
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="has_commission" id="has_commission_yes" value="1" />
          <label class="form-check-label radio-button-label" for="has_commission_yes">
            <span class="radio-button-circle"></span>Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input radio-button" type="radio"
            name="has_commission" id="has_commission_no" value="0" />
          <label class="form-check-label radio-button-label" for="has_commission_no">
            <span class="radio-button-circle"></span>No</label>
        </div>
        <div class="invalid-feedback" data-forname="has_commission">&nbps;</div>
      </div>
    </div>


    <div class="col-12" id="commission_percent_wrap">
      <div class="row">
        <div class="col-8">
          <%= render partial: 'shared/web/common/slider_right',
              locals: {
              label: 'COMMISSION VALUE IN % <span>(The commission is included in the transaction amount)</span>',
              id: 'commission_percent',
              name: 'commission_percent',
              type: 'number',
              min: 1,
              max: 100,
              step: 1,
              value: 1,
              tooltip: 'show',
              classes: 'slider-primary'
              }
          %>
          <input type="hidden" name="commission_in_bt" id="commission_in_bt" value="5" />
          <input type="hidden" name="commission_in_fiat" id="commission_in_fiat" value="1.5" />
        </div>

        <div class="col-2">
          <%= render :partial => "/shared/web/common/mocker",
                     :locals => {
                       :header => "VALUE IN " + coin_symbol,
                       :mock_selector => "#commission_in_bt"
                     }
          %>
        </div>

        <div class="col-2">

          <%= render :partial => "/shared/web/common/mocker",
                     :locals => {
                       :header => "VALUE IN " + fiat_display_text,
                       :mock_selector => "#commission_in_fiat"
                     }
          %>
        </div>
      </div>
    </div>


    <div class="col-12 my-3">
      <div class="card-group">
        <%= render :partial => "/shared/web/common/mocker",
          :locals => {
            :header => "TOTAL TRANSACTION VALUE (" + fiat_display_text + ")",
            :mock_selector => "#value_in_fiat"
          }
        %>
        <%= render :partial => "/shared/web/common/mocker",
          :locals => {
            :header => "COMMISSION (" + fiat_display_text + ")",
            :mock_selector => "#commission_in_fiat"
          }
        %>
      </div>
    </div>

    <div class="col-12">
      <div class="card-group">
        <%= render :partial => "/shared/web/common/mocker",
          :locals => {
            :header => "TOTAL TRANSACTION VALUE (" + coin_symbol + ")",
            :mock_selector => "#value_in_bt"
          }
        %>
        <%= render :partial => "/shared/web/common/mocker",
          :locals => {
            :header => "COMMISSION (" + coin_symbol + ")",
            :mock_selector => "#commission_in_bt"
          }
        %>
      </div>
    </div>

    <% # Form Buttons %>
    <div class="col-12">
      <button id="transaction_editor_submit_btn" type="submit" data-submiting="Adding..." 
        class="mt-4 btn btn-gold d-inline-block float-left">ADD TRANSACTIONS</button>
      <a id="transaction_editor_cancel_btn" href="javascript:void(0)"
        class="mt-4 ml-4 btn btn-white d-inline-block float-left">CANCEL</a>
    </div>
    <div class="col-12">
      <div class="mt-5 mb-5" style="height: 20px" />
    </div>
  </div> <!-- Row Ending -->
</form>

<% content_for :end_js do %>
<script type="text/javascript">
  <% #See transactions_editor.js for more options %>
  ost.transactions.editor.init({
    ost_to_bt           : <%= ost_to_bt %>
    , ost_to_fiat       : <%= ost_to_fiat %>
    , bt_to_fiat        : <%= bt_to_fiat %>
    , fiat_symbol       : "<%= fiat_symbol %>"
    , fiat_type         : "<%= fiat_type %>"
    , value_in_fiat_key : "<%= value_in_fiat_key %>"
    , defaultData       : <%= raw default_transaction_values.to_json %>
    , eventContext      : ost.transactions
    , createUrl         : "<%= create_url %>"
    , editUrl           : "<%= edit_url %>"
  });
</script>
<% end %>
  
