<% 
  should_show_api_call_button = true;

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;

  client_id = @presenter_obj.client_token.client_id;
  auto_create_transactions = !@presenter_obj.client_token.step_two_done?;

  kind_display_text = {
    :user_to_company => "User to Company",
    :user_to_user => "User to User",
    :company_to_user => "Company to User"
  };

%>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h3 class="mb-0">Transactions</h3>
        <button id="create_transaction_btn" class="btn btn-gold float-right">ADD TRANSACTIONS</button>
      </div>
    </div>
  </div>
  <div class="transactions">
    <div class="row header">
      <div class="col-2">NAME</div>
      <div class="col-2">VALUE IN <%= fiat_display_text %></div>
      <div class="col-2">VALUE IN <%= bt_symbol %></div>
      <div class="col-2">PRICE ORACLE</div>
      <div class="col-3">FEES</div>
    </div>
  </div>
</div>

<div class="container slider-parent-container" data-slider-content-wrapper=".ost-table-row">
  <div class="row">
    <div class="col-12">
      <div id="transaction_list" class="transactions" data-simple-table data-url="/api/economy/transaction/kind/list">
        <script type="text/x-handlebars-template" data-row-template>
          <div class="row align-items-center py-3 mt-1 mb-3 rounded ost-table-row cell">
            <div class="col-2">{{name}}<br/><small class="font-weight-light">{{kind_display_text}}</small></div>
            <div class="col-2"><%= fiat_symbol %>{{value_in_fiat}}</div>
            <div class="col-2">{{value_in_bt}}</div>
            <div class="col-2">{{price_oracle_text}}</div>
            <div class="col-1">{{commission_percent}}&#37;</div>
            <div class="col-3">
              {{#IfShowApiCallButton id }}
                <button class="showApiCallBtn btn btn-white slider-btn">
                  <svg class="icon-api-transactions align-middle">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-api-transactions"></use>
                    </switch>
                  </svg>
                  <span class="align-middle">API Call</span>
                </button>
              {{/IfShowApiCallButton}}
              <a href="javascript:void(0)" class="editRow rounded-circle edit-btn" data-result-id="{{id}}" title="Edit">
                <svg class="icon-edit-transactions align-middle">
                  <switch>
                    <use class="icon-edit" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit-transactions"></use>
                  </switch>
                </svg>
              </a>
              <input type="hidden" name="id" value={{id}}/>
              <input type="hidden" name="uts" value={{uts}}/>
            </div>
            <div class="code-session col-12">
              <comment class="w-100 code-comment">
                Some code has to come here.
              </comment>
              <code class="w-100 code-line">
                  Some curl code has to come here
                  Some curl code has to come here
              </code>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/other-icons.svg" %>
<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      var kindDisplayText = <%= raw kind_display_text.to_json %>;

      Handlebars.registerHelper('price_oracle_text', function(response, options ) {

        var rowData = response.data.root || {};
        return  rowData.currency_type === "BT" ? "No" : "Yes";

      });

      
      Handlebars.registerHelper('kind_display_text', function(response, options ) { 
        var rowData = response.data.root || {}
          , kind    = rowData.kind
        ;

        return kindDisplayText[ kind ];
      });

      Handlebars.registerHelper('value_in_fiat', function(response, options ) { 
          var rowData =  response.data.root || {};
          if ( rowData.currency_type === "BT" ) {
            return PriceOracle.btToFiat( rowData.currency_value );
          } else {
            return PriceOracle.toFiat( rowData.currency_value );
          }
      });

      Handlebars.registerHelper('value_in_bt', function(response, options ) {
          var rowData =  response.data.root || {};
          if ( rowData.currency_type === "BT" ) {

            return PriceOracle.toBt( rowData.currency_value );
          } else {
            return PriceOracle.fiatToBt( rowData.currency_value );
          }
      });


      Handlebars.registerHelper('IfShowApiCallButton', function(data, options ) { 
        if (<%= should_show_api_call_button %>) {
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });
      ost.transactions.init({
        auto_create_transactions: <%= auto_create_transactions %>,
        client_id: "<%= client_id %>",
      });  
    });
  </script>
<% end %>