<%

  # IMPORTANT NOTE FOR BACKEND-DEV #Puneet #Sunil #Pankaj
  # IF YOU ARE CHANGING "name" property, please scroll down and also update inputNameKeys

  bt_name   = @presenter_obj.client_token.name;
  bt_symbol = @presenter_obj.client_token.symbol;

  fiat_symbol = @presenter_obj.client_fiat_curreny_pref_symbol;
  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  fiat_display_text = @presenter_obj.client_fiat_curreny_display_text;
  percent_symbol = "%" ;

  value_in_fiat_key = "value_in_" + fiat_type;
  value_in_fiat_sym = value_in_fiat_key.to_sym;

  max_transaction_val = 100;

  #Default value for creating new transaction to be set.
  default_fiat_value = 0.10;

  create_url = "/api/economy/transaction/kind/create";
  edit_url = "/api/economy/transaction/kind/edit";
  
  default_transaction_values = { 
    :commission_percent => 0,
    :kind => "user_to_user",
    :name => "",
    :currency => fiat_type.to_s,
    :amount => default_fiat_value.to_s
  };

  default_transaction_values[ value_in_fiat_sym ] = default_fiat_value;  



%>

<form id="transaction_editor_form" class="user-form" action="/api/client/sign-up" method="POST"
  data-ost-formhelper>
  <input type="hidden" name="id" id="transaction_id" />
  <input type="hidden" name="device_id" id="transaction_device_id"/>

  <div class="row">
    <div class="col-12">
      <input type="hidden" id="transaction_heading_create" value="Create an action"/>
      <input type="hidden" id="transaction_heading_update" value="Update an action"/>
      <h3 class="mt-4" id="transaction_editor_mode_heading">Create Action Type</h3>
      <hr class="mb-0"/>
    </div>
    <div class="col-12">
      <div class="form-group m-0" id="kindFormGroup">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_user_to_user" value="user_to_user" />
            <label class="radio-button-label" for="kind_user_to_user">
            <span class="radio-button-circle"></span>User to User</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_user_to_company" value="user_to_company" />
          <label class="radio-button-label" for="kind_user_to_company">
            <span class="radio-button-circle"></span>User to Company</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-tx-kind" type="radio"
            name="kind" id="kind_company_to_user" value="company_to_user" />
          <label class="radio-button-label" for="kind_company_to_user">
            <span class="radio-button-circle"></span>Company to User</label>
        </div>
        <div class="invalid-feedback" data-forname="kind">&nbps;</div>
      </div>
    </div>

    <div class="col-8">
      <div class="form-group" id="transaction_name_form_group">
        <label class="form-label text-uppercase" data-forid="transaction_name">Action name</label>
        <input id="transaction_name" type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter Action Name" required/>
        <div class="invalid-feedback" data-forid="transaction_name">&nbps;</div>
      </div>
    </div>
    <div class="col-4"></div>


    <div class="col-12 form-group mb-0">
      <label class="form-label">ARBITRARY AMOUNT AT EXECUTION
        <a href="https://help.ost.com/support/solutions/articles/35000059260-how-do-you-set-transaction-values"
           target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
      </label>
    </div>

    <div class="col-12">
      <div class="form-group" id="value_action_amount">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button  j-action-amount-setting" type="radio"
                 name="arbitrary_amount" id="amount_set_before_execution" value="true" />
          <label class="radio-button-label" for="amount_set_before_execution">
            <span class="radio-button-circle text-capitalize"></span>On</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-action-amount-setting" type="radio"
                 name="arbitrary_amount" id="amount_set_here" value="false" />
          <label class="radio-button-label" for="amount_set_here">
            <span class="radio-button-circle text-capitalize"></span>Off</label>
        </div>
        <div class="invalid-feedback" data-forname="arbitrary_amount">&nbps;</div>
      </div>
    </div>
  </div>

  <div id="currency_wrap" class="row">
      <div class="col-12 form-group mb-0">
        <label class="form-label">Price Oracle
          <a href="//help.ost.com/support/solutions/articles/35000059258-what-is-a-price-oracle"
             target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
        </label>
      </div>
      <div class="col-12">
        <div class="form-group" id="value_currency_type_group">
          <div class="form-check form-check-inline mr-4">
            <input class="form-check-input radio-button j-currency" type="radio"
              name="currency" id="currency_type_fiat" value="<%= fiat_type %>" />
            <label class="radio-button-label" for="currency_type_fiat">
              <span class="radio-button-circle"></span>On</label>
          </div>
          <div class="form-check form-check-inline mr-4">
            <input class="form-check-input radio-button j-currency" type="radio"
              name="currency" id="currency_type_bt" value="BT" />
            <label class="radio-button-label" for="currency_type_bt">
              <span class="radio-button-circle"></span>Off</label>
          </div>
          <label class="radio-button-label p-0 font-weight-light" id="currency_type_bt_help_text" style="pointer-events: none;" >
            (When the price oracle is Off the <%= bt_symbol %> value remains constant and the <%= fiat_display_text %> value will auto adjust)
          </label>
          <label class="radio-button-label p-0 font-weight-light" id="currency_type_fiat_help_text" style="pointer-events: none;">
            (When the price oracle is On the <%= fiat_display_text %> value remains constant and the <%= bt_symbol %> value will auto adjust)
          </label>
          <div class="invalid-feedback" data-forname="currency">&nbps;</div>
        </div>
      </div>
  </div>
  <div class="row" id="j-action-amount-wrap">
      <div class="col-4">
        <div class="form-group" id="transaction_value_in_fiat_form_group">
          <label class="form-label text-uppercase" data-forid="transaction_name">Action amount (<%= fiat_display_text %>)</label>
          <input id="value_in_fiat" type="number" name="amount"
          class="form-control" aria-describedby="emailHelp" max="100"
          step="0.01" min="0.01" data-ost-num-autocorrect-element
          placeholder="Value in (<%= fiat_display_text %>)" required/>
          <div class="invalid-feedback" data-forid="value_in_fiat">&nbps;</div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group" id="value_in_bt_form_group">
          <label class="form-label text-uppercase" data-forid="transaction_name">Action amount (<%= bt_symbol %>)</label>
          <input id="value_in_bt" type="number"
            name="amount" class="form-control"
            step="0.00001" min="0.00001"
            data-ost-num-autocorrect-element
            aria-describedby="emailHelp" placeholder="Amount in (<%= bt_symbol %>)" required/>
          <div class="invalid-feedback" data-forid="value_in_bt">&nbps;</div>
        </div>
      </div>

      <div class="col-2 mt-2">
        <input type="hidden" name="value_in_ost" id="value_in_ost" value="7.5" />
        <div style="margin-top: 2px;">
          <%= render :partial => "/shared/web/common/mocker",
            :locals => {
              :header => "AMOUNT IN OSTâº",
              :mock_selector => "#value_in_ost",
              :value => "15.898"
            }
          %>
        </div>
      </div>
  </div>


  <div class="row" id="commission-options-row">
    <div class="col-12 form-group mb-0">
      <label class="form-label">
        ARBITRARY COMMISSION AT EXECUTION
        <a href="//help.ost.com/support/solutions/articles/35000059259-what-are-fees-on-transactions"
           target="_blank" class="text-uppercase card-link hover-link">Learn More</a>
      </label>
    </div>


    <div class="col-12">
      <% # Below form-group is UI only %>
      <div class="form-group" id="has_commission_group">
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-has-commission" type="radio"
                 name="arbitrary_commission" id="charge_fees_before_execution" value="true" />
          <label class="radio-button-label" for="charge_fees_before_execution">
            <span class="radio-button-circle text-capitalize"></span>On</label>
        </div>
        <div class="form-check form-check-inline mr-4">
          <input class="form-check-input radio-button j-has-commission" type="radio"
            name="arbitrary_commission" id="charge_fees_here" value="false" />
          <label class="radio-button-label" for="charge_fees_here">
            <span class="radio-button-circle text-capitalize"></span>Off</label>
        </div>

        <!--<div class="form-check form-check-inline mr-4">-->
          <!--<input class="form-check-input radio-button j-has-commission" type="radio"-->
                 <!--name="arbitrary_commission" id="charge_fees_no" value="false" />-->
          <!--<label class="radio-button-label" for="charge_fees_no">-->
            <!--<span class="radio-button-circle text-capitalize"></span>No fees</label>-->
        <!--</div>-->
        <div class="invalid-feedback" data-forname="has_commission">&nbps;</div>
      </div>
    </div>


    <div class="col-12" id="commission_percent_wrap">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-0">
          <label class="form-label" for="commission_percent">SET COMMISSION IN %
            <span class="text-lowercase">(<span class="text-capitalize">The</span> commission will be added on top of the action amount)</span>
          </label>
          </div>
        </div>
        <div class="col-8">
          <%= render partial: 'shared/web/common/slider_right',
              locals: {
              label: '',
              id: 'commission_percent',
              name: 'commission_percent',
              type: 'number',
              min: 0,
              max: 100,
              step: 0.01,
              value: 1,
              postfix: percent_symbol,
              suffix: percent_symbol,
              tooltip: 'show',
              classes: 'slider-primary'
              }
          %>
          <input type="hidden" name="commission_in_bt" id="commission_in_bt" value="5" />
          <input type="hidden" name="commission_in_fiat" id="commission_in_fiat" value="1.5" />
        </div>

        <div class="col-4" id="j-mocker-content-wrap">
          <div class="row">
            <div class="col-6 mt-1">
              <%= render :partial => "/shared/web/common/mocker",
                         :locals => {
                             :header => "AMOUNT IN " + bt_symbol,
                             :mock_selector => "#commission_in_bt"
                         }
              %>
            </div>

            <div class="col-6 mt-1">
              <%= render :partial => "/shared/web/common/mocker",
                         :locals => {
                             :header => "AMOUNT IN " + fiat_display_text,
                             :mock_selector => "#commission_in_fiat"
                         }
              %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <% # Form Buttons %>
    <div class="col-12">
      <button id="transaction_editor_submit_btn" type="submit" data-submiting="Adding..." 
        class="mt-4 btn btn-gold d-inline-block float-left">ADD Action</button>
      <a id="transaction_editor_cancel_btn" href="javascript:void(0)"
        class="mt-4 ml-4 btn ost-btn-secondary d-inline-block float-left">CANCEL</a>
    </div>
    <div class="col-12">
      <div class="mt-5 mb-5" style="height: 20px" ></div>
    </div>
  </div> <!-- Row Ending -->
</form>

<% content_for :end_js do %>
<script type="text/javascript">
  <% #See transactions_editor.js for more options %>
  ost.transactions.editor.init({
     fiat_symbol        : "<%= fiat_symbol %>"
    , fiat_type         : "<%= fiat_type %>"
    , defaultData       : <%= raw default_transaction_values.to_json %>
    , eventContext      : ost.transactions
    , createUrl         : "<%= create_url %>"
    , editUrl           : "<%= edit_url %>"
    , maxTransactionVal : <%= max_transaction_val %>
    , inputNameKeys: {
      tx_kind               : "kind"
      , has_commission      : "has_commission"
      , commission_percent  : "commission_percent"
      , commission_in_bt    : "commission_in_bt"
      , commission_in_fiat  : "commission_in_fiat"
      , arbitrary_commission : "arbitrary_commission"
      , arbitrary_amount     : "arbitrary_amount"
      , value_in_ost         : "value_in_ost"

    }
  });
</script>
<% end %>
  
